In [1]:
data = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data"

In [2]:
import pandas as pd
import os

## Lab Patient Data

In [3]:
l_p_df = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data.csv"))

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_49451/3804067241.py:1: DtypeWarning: Columns (19,24,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  l_p_df = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data.csv"))

In [4]:
l_p_df = l_p_df.drop(columns=["Unnamed: 0"])

In [5]:
l_p_df["LabTimeFromAdmit"] = pd.to_datetime(l_p_df["CHARTTIME"])-pd.to_datetime(l_p_df["ADMITTIME"])

In [6]:
l_p_df

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,...,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,LabTimeFromAdmit
0,976,3,145834.0,50820,2101-10-22 04:31:00,7.40,7.40,units,NaN,21,...,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,1 days 09:23:00
1,989,3,145834.0,50820,2101-10-22 07:13:00,7.37,7.37,units,NaN,21,...,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,1 days 12:05:00
2,998,3,145834.0,50820,2101-10-22 10:16:00,7.37,7.37,units,NaN,21,...,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,1 days 15:08:00
3,1007,3,145834.0,50820,2101-10-22 11:21:00,7.39,7.39,units,NaN,21,...,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,1 days 16:13:00
4,1020,3,145834.0,50820,2101-10-22 13:02:00,7.39,7.39,units,NaN,21,...,NaN,CATHOLIC,MARRIED,WHITE,2101-10-20 17:09:00,2101-10-20 19:24:00,HYPOTENSION,0,1,1 days 17:54:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22245029,11174338,18054,100572.0,51455,2158-04-24 11:42:00,29,29.00,%,abnormal,655,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0,0 days 02:57:00
22245030,11174339,18054,100572.0,51457,2158-04-24 11:42:00,575,575.00,#/uL,abnormal,657,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0,0 days 02:57:00
22245031,11174340,18054,100572.0,51458,2158-04-24 11:42:00,1325,1325.00,#/uL,abnormal,658,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0,0 days 02:57:00
22245032,11174335,18054,100572.0,51447,2158-04-24 11:42:00,10,10.00,%,abnormal,647,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0,0 days 02:57:00
22245033,11174333,18054,100572.0,51444,2158-04-24 11:42:00,31,31.00,%,abnormal,644,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,PLEURAL EFFUSION RIGHT/SDA,0,0,0 days 02:57:00

## Medication Patient Data

In [7]:
m_p_df = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med_patient_data.csv"))

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_49451/3908620283.py:1: DtypeWarning: Columns (13,19,24) have mixed types. Specify dtype option on import or set low_memory=False.
  m_p_df = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "med_patient_data.csv"))

In [8]:
m_p_df = m_p_df.drop(columns=["Unnamed: 0"]).rename(columns={"SUBJECT_ID_x":"SUBJECT_ID"})

In [9]:
m_p_df["MedTimeFromAdmit"] = pd.to_datetime(m_p_df["ENDTIME"])-pd.to_datetime(m_p_df["ADMITTIME"])

In [10]:
m_p_df = m_p_df.sort_values(by="MedTimeFromAdmit")

In [11]:
m_p_df

,Unnamed: 0.2,Unnamed: 0.1,ROW_ID_x,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,...,ROW_ID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit
2888398,2888398,2888398,141679,1339,158998,248434.0,2138-10-12 00:00:00,2138-10-12 00:01:00,221385,1.000000,...,12964,Lorazepam (Ativan),Lorazepam (Ativan),metavision,inputevents_mv,Medications,mg,Solution,NaN,-2 days +12:37:00
1771130,1771130,1771130,141722,1339,158998,248434.0,2138-10-12 00:30:00,2138-10-12 00:31:00,221744,49.999999,...,12977,Fentanyl,Fentanyl,metavision,inputevents_mv,Medications,mg,Solution,NaN,-2 days +13:07:00
1267803,1267803,1267803,141697,1339,158998,248434.0,2138-10-12 01:00:00,2138-10-12 02:16:00,225828,95.000000,...,14005,LR,LR,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,-2 days +14:52:00
2888396,2888396,2888396,141636,1339,158998,248434.0,2138-10-12 07:00:00,2138-10-12 07:01:00,221385,1.000000,...,12964,Lorazepam (Ativan),Lorazepam (Ativan),metavision,inputevents_mv,Medications,mg,Solution,NaN,-2 days +19:37:00
1771128,1771128,1771128,141688,1339,158998,248434.0,2138-10-12 08:00:00,2138-10-12 08:01:00,221744,24.999999,...,12977,Fentanyl,Fentanyl,metavision,inputevents_mv,Medications,mg,Solution,NaN,-2 days +20:37:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2071107,2071107,2071107,3117387,53863,136210,291819.0,2161-02-21 22:45:00,2162-01-08 11:15:00,225943,30.773265,...,14375,Solution,Solution,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,321 days 11:09:00
2622088,2622088,2622088,3117386,53863,136210,291819.0,2161-02-21 22:45:00,2162-01-08 11:15:00,225942,1.538663,...,14374,Fentanyl (Concentrate),Fentanyl (Concentrate),metavision,inputevents_mv,Medications,mg,Solution,NaN,321 days 11:09:00
1522100,1522100,1522100,647177,51914,128777,283771.0,2132-03-25 16:00:00,2133-03-09 19:00:00,221906,7.758037,...,12984,Norepinephrine,Norepinephrine,metavision,inputevents_mv,Medications,mg,Solution,NaN,363 days 03:29:00
744855,744855,744855,647178,51914,128777,283771.0,2132-03-25 16:00:00,2133-03-09 19:00:00,225158,242.438728,...,13758,NaCl 0.9%,NaCl 0.9%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,363 days 03:29:00
810827,810827,810827,1049249,50822,125824,263713.0,2164-11-02 21:00:00,2166-02-12 02:19:00,225158,4610.930268,...,13758,NaCl 0.9%,NaCl 0.9%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,483 days 10:14:00

## Filter Meds

### Med 1

In [12]:
med1 = m_p_df.groupby(["HADM_ID", "ITEMID"]).nth(0).reset_index()

In [13]:
med1 = med1.sort_values("MedTimeFromAdmit")

In [14]:
# med1[['HADM_ID', 'ITEMID', 'ROW_ID_x', 'SUBJECT_ID_x', 'ICUSTAY_ID',
#        'STARTTIME', 'ENDTIME', 'AMOUNT', 'AMOUNTUOM', 'RATE', 'RATEUOM', 'ADMITTIME', 'DISCHTIME', 'DEATHTIME', 'MedTimeFromAdmit']]

In [15]:
med1 = med1[med1["MedTimeFromAdmit"].dt.total_seconds()>0]

In [16]:
med1 = med1.sort_values(by=["ADMITTIME"]).groupby(["SUBJECT_ID", "ITEMID"]).nth(0).reset_index().sort_values(by=["MedTimeFromAdmit"])

In [17]:
med1

,SUBJECT_ID,ITEMID,HADM_ID,Unnamed: 0.2,Unnamed: 0.1,ROW_ID_x,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,...,ROW_ID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit
28897,29495,225828,182822,1266022,1266022,2947,252299.0,2126-01-22 21:51:00,2126-01-22 21:52:00,1000.000000,...,14005,LR,LR,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
199105,73363,225943,174481,1940648,1940648,1266630,288413.0,2144-01-31 12:21:00,2144-01-31 14:01:00,64.516127,...,14375,Solution,Solution,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
71788,47216,225158,167377,1032728,1032728,2598902,246025.0,2155-08-01 11:26:00,2155-08-01 11:27:00,1500.000000,...,13758,NaCl 0.9%,NaCl 0.9%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
77294,48348,226372,186981,3464223,3464223,1947331,274006.0,2177-11-28 12:00:00,2177-11-28 12:01:00,250.000000,...,14457,OR Cell Saver Intake,OR Cell Saver Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,0 days 00:01:00
77293,48348,226364,186981,2923674,2923674,1947274,274006.0,2177-11-28 12:00:00,2177-11-28 12:01:00,2700.000000,...,14450,OR Crystalloid Intake,OR Crystalloid Intake,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291587,93321,225917,115396,3320414,3320414,3599650,248745.0,2128-09-11 21:46:00,2128-09-12 13:47:00,2500.000081,...,14355,TPN without Lipids,TPN without Lipids,metavision,inputevents_mv,Nutrition - Parenteral,mL,Solution,NaN,171 days 14:46:00
291596,93321,226453,115396,1237197,1237197,3599538,248745.0,2128-09-12 21:22:00,2128-09-12 21:23:00,60.000000,...,14472,GT Flush,GT Flush,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,171 days 22:22:00
291567,93321,225797,115396,1264937,1264937,3599579,248745.0,2128-09-14 17:58:00,2128-09-14 17:59:00,100.000000,...,13981,Free Water,Free Water,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,173 days 18:58:00
291588,93321,225930,115396,3291211,3291211,3599677,248745.0,2128-09-14 15:33:00,2128-09-14 18:43:00,31.666667,...,14367,Peptamen 1.5 (Full),Peptamen 1.5 (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,173 days 19:42:00
291556,93321,221794,115396,1385156,1385156,3599952,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,...,12979,Furosemide (Lasix),Furosemide (Lasix),metavision,inputevents_mv,Medications,mg,Solution,NaN,175 days 15:06:00

### Med 2

In [18]:
med2 = m_p_df.groupby(["HADM_ID", "ITEMID"]).nth(1).reset_index()

In [19]:
med2 = med2.sort_values("MedTimeFromAdmit")

In [20]:
med2 = med2[med2["MedTimeFromAdmit"].dt.total_seconds()>0]

In [21]:
med2 = med2.sort_values(by=["ADMITTIME"]).groupby(["SUBJECT_ID", "ITEMID"]).nth(0).reset_index().sort_values(by=["MedTimeFromAdmit"])

In [22]:
med2

,SUBJECT_ID,ITEMID,HADM_ID,Unnamed: 0.2,Unnamed: 0.1,ROW_ID_x,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,...,ROW_ID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit
35719,42353,225828,171342,1289857,1289857,1671151,280877.0,2188-07-28 12:45:00,2188-07-28 12:46:00,1000.000000,...,14005,LR,LR,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
231522,98281,225158,117684,878463,878463,1549345,251214.0,2134-03-30 16:30:00,2134-03-30 17:46:00,3.800000,...,13758,NaCl 0.9%,NaCl 0.9%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
220822,95238,225828,110402,1273081,1273081,546286,223406.0,2161-04-20 11:45:00,2161-04-20 11:46:00,1000.000000,...,14005,LR,LR,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
33451,41624,226372,178751,3464007,3464007,1538868,277546.0,2162-05-06 11:00:00,2162-05-06 11:01:00,600.000000,...,14457,OR Cell Saver Intake,OR Cell Saver Intake,metavision,inputevents_mv,Blood Products/Colloids,mL,Solution,NaN,0 days 00:01:00
172779,81202,220949,105280,335419,335419,1614569,272451.0,2103-06-10 08:00:00,2103-06-10 08:01:00,200.000000,...,12865,Dextrose 5%,Dextrose 5%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214311,93321,225912,115396,3356454,3356454,3599562,248745.0,2128-09-12 23:28:00,2128-09-12 23:29:00,1.000000,...,14065,Carafate (Sucralfate),Carafate (Sucralfate),metavision,inputevents_mv,Medications,dose,Solution,NaN,172 days 00:28:00
214320,93321,226453,115396,1237194,1237194,3599939,248745.0,2128-09-13 08:00:00,2128-09-13 08:01:00,30.000000,...,14472,GT Flush,GT Flush,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,172 days 09:00:00
214312,93321,225917,115396,3320412,3320412,3599685,248745.0,2128-09-12 18:46:00,2128-09-13 18:47:00,2499.999978,...,14355,TPN without Lipids,TPN without Lipids,metavision,inputevents_mv,Nutrition - Parenteral,mL,Solution,NaN,172 days 19:46:00
214313,93321,225930,115396,3291212,3291212,3599948,248745.0,2128-09-14 18:43:00,2128-09-15 08:22:00,273.000005,...,14367,Peptamen 1.5 (Full),Peptamen 1.5 (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,174 days 09:21:00
214294,93321,225797,115396,1264938,1264938,3599629,248745.0,2128-09-15 11:03:00,2128-09-15 11:04:00,100.000000,...,13981,Free Water,Free Water,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,174 days 12:03:00

## Filter Labs

In [23]:
labs = l_p_df[l_p_df["HADM_ID"].isin(med1["HADM_ID"])]

In [24]:
labs = labs[labs['LabTimeFromAdmit'].dt.total_seconds()>0]

In [25]:
labs = labs.sort_values("LabTimeFromAdmit")

In [26]:
labs = labs[labs['VALUENUM'].notna()]

In [27]:
labs

,ROW_ID_x,SUBJECT_ID_x,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG,ROW_ID_y,...,LANGUAGE,RELIGION,MARITAL_STATUS,ETHNICITY,EDREGTIME,EDOUTTIME,DIAGNOSIS,HOSPITAL_EXPIRE_FLAG,HAS_CHARTEVENTS_DATA,LabTimeFromAdmit
14822987,21075805,48882,103146.0,50813,2114-04-23 18:17:00,2.5,2.50,mmol/L,abnormal,14,...,ENGL,CATHOLIC,MARRIED,WHITE,NaN,NaN,AORTIC STENOSIS,1,1,0 days 00:01:00
20517708,27458475,96686,189846.0,51077,2115-04-11 18:50:00,2.9,2.90,mg/dL,NaN,277,...,ENGL,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2115-04-11 12:29:00,2115-04-11 20:40:00,ACUTE RENAL FAILURE,0,1,0 days 00:01:00
20517709,27458479,96686,189846.0,51097,2115-04-11 18:50:00,25,25.00,mEq/L,NaN,297,...,ENGL,NOT SPECIFIED,SINGLE,BLACK/AFRICAN AMERICAN,2115-04-11 12:29:00,2115-04-11 20:40:00,ACUTE RENAL FAILURE,0,1,0 days 00:01:00
13665680,20690955,46007,178313.0,50893,2138-05-11 14:30:00,7.6,7.60,mg/dL,abnormal,94,...,ENGL,NOT SPECIFIED,MARRIED,WHITE,2138-05-11 11:41:00,2138-05-11 15:28:00,MULITPLE RIB FRACTURES,0,1,0 days 00:01:00
18193731,26566842,89929,118735.0,50820,2169-02-09 16:24:00,7.32,7.32,units,abnormal,21,...,ENGL,UNOBTAINABLE,NaN,UNKNOWN/NOT SPECIFIED,2169-02-09 15:00:00,2169-02-09 18:11:00,OVERDOSE ON DEPAKOTE,0,1,0 days 00:01:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19106318,27017123,93321,115396.0,50813,2128-10-17 05:33:00,5.4,5.40,mmol/L,abnormal,14,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
19106344,27017124,93321,115396.0,50818,2128-10-17 05:33:00,38,38.00,mm Hg,NaN,19,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
19106369,27017126,93321,115396.0,50821,2128-10-17 05:33:00,117,117.00,mm Hg,abnormal,22,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
19106282,27017122,93321,115396.0,50804,2128-10-17 05:33:00,13,13.00,mEq/L,abnormal,5,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00
19106228,27017125,93321,115396.0,50820,2128-10-17 05:33:00,7.11,7.11,units,abnormal,21,...,NaN,CATHOLIC,WIDOWED,WHITE,2128-03-24 22:29:00,2128-03-25 00:19:00,ANEMIA,1,1,206 days 06:32:00

## Pairs

In [32]:
def check_med2(row):
    if row["HADM_ID"] in med2["HADM_ID"]:
        if row["ITEMID"] in med2[med2["HADM_ID"]==row["HADM_ID"]]["ITEMID"]:
            return True
    return False

def get_med2(row):
    temp = med2[med2["HADM_ID"]==row["HADM_ID"]] 
    return temp[temp["ITEMID"]==row["ITEMID"]].iloc[0]

def get_lab_data(row, type):
    lab_vals = labs[labs["HADM_ID"]==row["HADM_ID"]]
    if type=="mean_before":
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<row["MedTimeFromAdmit"].total_seconds()]
        if lab_vals.shape[0]==0:
            return -1
        return lab_vals.groupby("HADM_ID").mean()["VALUENUM"].iloc[0]
    elif type=="mean_after":
        med2_bool = check_med2(row)
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()>row["MedTimeFromAdmit"].total_seconds()]
        if med2_bool:
            med2_val = get_med2(row)
            lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<med2_val["MedTimeFromAdmit"].total_seconds()]
            if lab_vals.shape[0]==0:
                return -1
        return lab_vals.groupby("HADM_ID").mean()["VALUENUM"].iloc[0]

In [33]:
t1 = med1.apply(lambda row : get_lab_data(row, "mean_before"), axis=1)

In [35]:
med1["LabBefore"] = t1

In [38]:
med1 = med1[med1["LabBefore"]!=-1]

In [41]:
med1 = med1.drop(columns=["Unnamed: 0.1", "Unnamed: 0.2"])

In [42]:
med1

,SUBJECT_ID,ITEMID,HADM_ID,ROW_ID_x,ICUSTAY_ID,STARTTIME,ENDTIME,AMOUNT,AMOUNTUOM,RATE,...,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID,MedTimeFromAdmit,LabBefore
185400,70373,225975,149123,474138,234436.0,2115-12-26 21:00:00,2115-12-26 21:01:00,1.000000,dose,NaN,...,Heparin Sodium (Prophylaxis),Heparin Sodium (Prophylaxis),metavision,inputevents_mv,Medications,dose,Solution,NaN,0 days 00:03:00,55.472261
21744,26771,226361,195934,38924,253903.0,2116-06-27 22:00:00,2116-06-27 22:01:00,3500.000000,ml,NaN,...,Pre-Admission Intake,Pre-Admission Intake,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:03:00,28.730000
36257,32421,221393,144465,1803336,254088.0,2136-08-31 09:30:00,2136-08-31 09:31:00,0.500000,mg,NaN,...,Atropine,Atropine,metavision,inputevents_mv,Medications,mg,Solution,NaN,0 days 00:04:00,65.590000
57695,44328,226361,126954,2360705,290911.0,2104-03-25 09:15:00,2104-03-25 09:16:00,2000.000000,ml,NaN,...,Pre-Admission Intake,Pre-Admission Intake,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:05:00,56.801429
100816,53149,225158,140593,3255647,297609.0,2131-03-21 13:00:00,2131-03-21 13:01:00,1000.000000,ml,NaN,...,NaCl 0.9%,NaCl 0.9%,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,0 days 00:06:00,50.517778
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291587,93321,225917,115396,3599650,248745.0,2128-09-11 21:46:00,2128-09-12 13:47:00,2500.000081,ml,156.087414,...,TPN without Lipids,TPN without Lipids,metavision,inputevents_mv,Nutrition - Parenteral,mL,Solution,NaN,171 days 14:46:00,37.765276
291596,93321,226453,115396,3599538,248745.0,2128-09-12 21:22:00,2128-09-12 21:23:00,60.000000,ml,NaN,...,GT Flush,GT Flush,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,171 days 22:22:00,37.783631
291567,93321,225797,115396,3599579,248745.0,2128-09-14 17:58:00,2128-09-14 17:59:00,100.000000,ml,NaN,...,Free Water,Free Water,metavision,inputevents_mv,Fluids/Intake,mL,Solution,NaN,173 days 18:58:00,37.909429
291588,93321,225930,115396,3599677,248745.0,2128-09-14 15:33:00,2128-09-14 18:43:00,31.666667,ml,10.000000,...,Peptamen 1.5 (Full),Peptamen 1.5 (Full),metavision,inputevents_mv,Nutrition - Enteral,mL,Solution,NaN,173 days 19:42:00,37.909429
291556,93321,221794,115396,3599952,248745.0,2128-09-16 14:06:00,2128-09-16 14:07:00,20.000001,mg,NaN,...,Furosemide (Lasix),Furosemide (Lasix),metavision,inputevents_mv,Medications,mg,Solution,NaN,175 days 15:06:00,37.958046

In [43]:
med1.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_before.csv"))