In [44]:
%load_ext autoreload

In [45]:
%autoreload 2

In [1]:
from src.parsers import mimic, hirid
from src.modeling import discovery, plots, querier
from src.utils import constants

In [2]:
import sys
# import win32com.client
import os
import pandas as pd

def setup_io_config(root_path):
    """
    Input - Output config. Add dataset paths
    :root_path -> Repo path which contains 'data' and 'res' folders
    """

    # MIMIC
    is_shortcut = True if "data.lnk" in os.listdir(root_path) else False 
    
    if (is_shortcut):
        path_shortcut =  os.path.join(root_path, "data.lnk")
        shell = win32com.client.Dispatch("WScript.Shell")
        mimic_data = shell.CreateShortCut(path_shortcut).Targetpath
    else:
        mimic_data = os.path.join(f"{root_path}", "data") 
    mimic_path = os.path.join(f"{root_path}", "results")

    # HIRID
    hirid_data = f'{root_path}/data/hirid-a-high-time-resolution-icu-dataset-1.1.1/raw_stage/'
    hirid_path = f'{root_path}/data/hirid-a-high-time-resolution-icu-dataset-1.1.1'
    
    return mimic_data, mimic_path, hirid_data, hirid_path

def setup_stratification_config():
    gender="MF"
    age_b=40
    age_a=80 
    ethnicity="WHITE" 
    lab_mapping= constants.LAB_MAPPING
    before_windows = [(0,6), (6,12)]
    after_windows = [(0,4), (4,8), (8,12)]
    return gender, age_a, age_b, ethnicity, lab_mapping, before_windows, after_windows

In [3]:
# IO Config
# root_path ="C:\\Users\\danco\\My Drive\\Master\\Datasets\\MIMIC iii"
root_path = "/Users/pavan/Library/CloudStorage/GoogleDrive-f20190038@hyderabad.bits-pilani.ac.in/My Drive/TAU/Code/DrugLab"
data, res, raw_path, res_path = setup_io_config(root_path=root_path)

# Stratification Config
gender, age_a, age_b, ethnicity, lab_mapping, before_windows, after_windows = setup_stratification_config()

In [4]:
import traceback
try:
    mimic_parser = mimic.MIMICParser(data=data, res=res, gender=gender, age_b=age_b, age_a=age_a, ethnicity=ethnicity, load="AUTOMATIC_MAPPING_MIMIC")
    m_med1, m_med2, m_labs = mimic_parser.parse(use_pairs=False, load_from_raw=True, load_raw_chartevents=True)
except:
    traceback.print_exc()

Loading med data...
Generate med data....

/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:51: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ROW_ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  m_p_df = pd.merge(inputevents_mv, med_data, how="inner", on="ITEMID")

Generated med data.
Loaded med data.
Load 1st and 2nd medication data...
Loaded 1st and 2nd medication data.
Load Lab data...
Generate lab data from labevents...
Generated lab data from labevents.
Generate lab data from chartevents...
0 (5000000, 15)
0 (2437923, 16)
1 (5000000, 15)
1 (2466648, 16)
2 (5000000, 15)
2 (2394185, 16)
3 (5000000, 15)
3 (2445752, 16)
4 (5000000, 15)
4 (2575704, 16)
5 (5000000, 15)
5 (2409405, 16)

/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:170: DtypeWarning: Columns (8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

6 (5000000, 15)
6 (2384351, 16)
7 (5000000, 15)
7 (756380, 16)
8 (5000000, 15)
8 (758188, 16)
9 (5000000, 15)
9 (762265, 16)
10 (5000000, 15)
10 (766985, 16)
11 (5000000, 15)
11 (763278, 16)
12 (5000000, 15)
12 (766632, 16)
13 (5000000, 15)
13 (767359, 16)
14 (5000000, 15)
14 (751003, 16)
15 (5000000, 15)
15 (755855, 16)
16 (5000000, 15)
16 (757160, 16)
17 (5000000, 15)
17 (756532, 16)
18 (5000000, 15)
18 (771357, 16)
19 (5000000, 15)
19 (752653, 16)
20 (5000000, 15)
20 (765198, 16)
21 (5000000, 15)
21 (765609, 16)
22 (5000000, 15)
22 (748073, 16)
23 (5000000, 15)
23 (745739, 16)
24 (5000000, 15)
24 (755444, 16)
25 (5000000, 15)
25 (764627, 16)
26 (5000000, 15)
26 (764348, 16)
27 (5000000, 15)
27 (770146, 16)
28 (5000000, 15)
28 (768195, 16)
29 (5000000, 15)
29 (761079, 16)
30 (5000000, 15)
30 (769979, 16)
31 (5000000, 15)
31 (767111, 16)
32 (5000000, 15)
32 (746792, 16)
33 (5000000, 15)
33 (758004, 16)
34 (5000000, 15)
34 (734328, 16)
35 (5000000, 15)
35 (752566, 16)
36 (5000000, 15)
36 (740870, 16)
37 (5000000, 15)
37 (757825, 16)

/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:170: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

38 (5000000, 15)
38 (683100, 16)
39 (5000000, 15)
39 (603994, 16)
40 (5000000, 15)
40 (589014, 16)
41 (5000000, 15)
41 (591344, 16)
42 (5000000, 15)
42 (606031, 16)
43 (5000000, 15)
43 (610926, 16)
44 (5000000, 15)
44 (542078, 16)
45 (5000000, 15)
45 (640303, 16)
46 (5000000, 15)
46 (652222, 16)
47 (5000000, 15)
47 (646310, 16)
48 (5000000, 15)
48 (657642, 16)
49 (5000000, 15)
49 (667859, 16)
50 (5000000, 15)
50 (593501, 16)

/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:170: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

51 (5000000, 15)
51 (72126, 16)

/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:170: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

52 (5000000, 15)
52 0
53 (5000000, 15)
53 0
54 (5000000, 15)
54 0
55 (5000000, 15)
55 0
56 (5000000, 15)
56 0
57 (5000000, 15)
57 0
58 (5000000, 15)
58 0
59 (5000000, 15)
59 0
60 (5000000, 15)
60 0
61 (5000000, 15)
61 0
62 (5000000, 15)
62 0
63 (5000000, 15)
63 0
64 (5000000, 15)
64 0
65 (5000000, 15)
65 0
66 (712483, 15)
66 0

/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk
/Users/pavan/Desktop/TAU/DrugLab/src/parsers/mimic.py:184: DtypeWarning: Columns (9,14) have mixed types. Specify dtype option on import or set low_memory=False.
  chartevents = pd.concat([pd.read_csv(path) for path in res_paths], ignore_index=True) ## concatenation of output from each chunk

:

:

In [ ]:
mimic_data_querier = querier.DatasetQuerier(
    data = data,
    res = res,
    t_labs=m_labs, 
    t_med1=m_med1, 
    t_med2=m_med2,
    gender=gender, 
    age_b=age_b, 
    age_a=age_a, 
    ethnicity=ethnicity, 
    lab_mapping=lab_mapping
)

In [ ]:
m_final_lab_med_data = mimic_data_querier.generate_med_lab_data(before_windows, after_windows)
med_lab_pair_data = m_final_lab_med_data[0]

AttributeError: 'float' object has no attribute 'items'

In [9]:
t = mimic_data_querier.temp.iloc[:100]

In [40]:
all_types = set(["abs", "mean", "std", "trends", "time"])
cols_b = [f"before_{t}_{b_w}" for b_w in before_windows for t in all_types]
cols_a = [f"after_{t}_{a_w}" for a_w in after_windows for t in all_types]
cols = cols_b.copy()
cols.extend(cols_a)

col_vals = []
for col in cols:
    print(col)
    col_vals.append(
        mimic_data_querier.temp.assign(dict=mimic_data_querier.temp[col].dropna().map(lambda d: d.items())).explode("dict", ignore_index=True).assign(
            LAB_ITEMID=lambda df: df.dict.str.get(0),
            temp=lambda df: df.dict.str.get(1)
        ).drop(columns=["dict"]+cols).astype({'temp':'float64'}).rename(columns={"temp":f"{col}_sp"}).dropna(subset=["LAB_ITEMID"])
    )
for i in range(1, len(col_vals)):
    col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
final = col_vals[-1][list(m_med1.columns)+["LAB_ITEMID"]+[f"{col}_sp" for col in cols]]
final["LAB_NAME"] = final["LAB_ITEMID"]
final = final.rename(columns={"ITEMID":"MED_NAME"})

before_time_(0, 6)
before_abs_(0, 6)
before_trends_(0, 6)
before_std_(0, 6)
before_mean_(0, 6)
before_time_(6, 12)
before_abs_(6, 12)
before_trends_(6, 12)
before_std_(6, 12)
before_mean_(6, 12)
after_time_(0, 4)
after_abs_(0, 4)
after_trends_(0, 4)
after_std_(0, 4)
after_mean_(0, 4)
after_time_(4, 8)
after_abs_(4, 8)
after_trends_(4, 8)
after_std_(4, 8)
after_mean_(4, 8)
after_time_(8, 12)
after_abs_(8, 12)
after_trends_(8, 12)
after_std_(8, 12)
after_mean_(8, 12)

/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])
/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_94284/4070250404.py:17: FutureWarning: Passing 'suffixes' which cause duplicate columns {'after_trends_(6, 12)_x'} in the result is deprecated and will raise a MergeError in a future version.
  col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(m_med1.columns)+["LAB_ITEMID"])

:

:

In [ ]:
final.to_csv("temp_med_lab_pairs_with_mean_std.csv")

In [32]:
t1 = mimic_data_querier.temp[['HADM_ID', 'ITEMID', 'before_abs_(0, 6)', 'before_mean_(0, 6)', 'before_time_(0, 6)']]
t1[t1["HADM_ID"]==144024]

,HADM_ID,ITEMID,"before_abs_(0, 6)","before_mean_(0, 6)","before_time_(0, 6)"
0,144024,Heparin Sodium (Prophylaxis),"{'Calcium': 8.4, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 8.4, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 5.683333333333334, 'Creatinine': 5..."
1,144024,NaCl 0.9%,"{'Calcium': 8.4, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 8.4, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 4.233333333333333, 'Creatinine': 4..."
2,144024,Labetalol,"{'Calcium': 8.4, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 8.4, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 4.233333333333333, 'Creatinine': 4..."
4,144024,Dextrose 5%,{},{},{}
6,144024,Sodium Bicarbonate 8.4%,{},{},{}
25,144024,LR,"{'Calcium': 8.2, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 8.2, 'Creatinine': 0.7, 'Glucose':...","{'Calcium': 2.3833333333333333, 'Creatinine': ..."
70,144024,PO Intake,{'Glucose': 102.0},{'Glucose': 102.5},{'Glucose': 1.5}
17381,144024,Hydralazine,{'Glucose': 97.0},{'Glucose': 97.0},{'Glucose': 2.4833333333333334}
121334,144024,Hydromorphone (Dilaudid),{},{},{}
121729,144024,Nitroglycerin,"{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 1.1666666666666667, 'Creatinine': ..."
122150,144024,Lorazepam (Ativan),"{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 4.25, 'Creatinine': 4.25, 'Glucose..."
122154,144024,KCL (Bolus),"{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 3.3333333333333335, 'Creatinine': ..."
122155,144024,Potassium Chloride,"{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 8.1, 'Creatinine': 0.5, 'Glucose':...","{'Calcium': 3.3333333333333335, 'Creatinine': ..."
122759,144024,Magnesium Sulfate,{'Glucose': 118.0},{'Glucose': 118.0},{'Glucose': 1.3166666666666667}
122761,144024,Magnesium Sulfate (Bolus),{'Glucose': 118.0},{'Glucose': 118.0},{'Glucose': 1.3166666666666667}
123158,144024,D5 1/2NS,"{'Calcium': 8.1, 'Creatinine': 0.4, 'Glucose':...","{'Calcium': 8.1, 'Creatinine': 0.4, 'Glucose':...","{'Calcium': -12.116666666666667, 'Creatinine':..."
123708,144024,Omeprazole (Prilosec),"{'Calcium': 8.1, 'Creatinine': 0.4, 'Glucose':...","{'Calcium': 8.1, 'Creatinine': 0.4, 'Glucose':...","{'Calcium': 4.15, 'Creatinine': 4.15, 'Glucose..."
124585,144024,Albumin 5%,{'Glucose': 117.0},{'Glucose': 117.0},{'Glucose': 0.23333333333333334}

In [39]:
t2 = final.dropna(subset=["before_mean_(6, 12)_sp"])[["HADM_ID", "MED_NAME", "LAB_NAME", "before_abs_(6, 12)_sp", "before_mean_(6, 12)_sp", "before_trends_(6, 12)_sp", "before_std_(6, 12)_sp", "before_time_(6, 12)_sp"]]
t2[t2["HADM_ID"]==144024]

,HADM_ID,MED_NAME,LAB_NAME,"before_abs_(6, 12)_sp","before_mean_(6, 12)_sp","before_trends_(6, 12)_sp","before_std_(6, 12)_sp","before_time_(6, 12)_sp"
789,144024,PO Intake,Glucose,97.00,97.00,0.0,0.0,10.466667
1094,144024,Dextrose 5%,Calcium,8.40,8.40,NaN,NaN,4.200000
1095,144024,Dextrose 5%,Creatinine,0.70,0.70,NaN,NaN,4.200000
1096,144024,Dextrose 5%,Glucose,88.00,88.00,NaN,NaN,4.200000
1097,144024,Dextrose 5%,Hematocrit,40.20,40.20,NaN,NaN,4.200000
1098,144024,Dextrose 5%,Hemoglobin,12.40,12.40,NaN,NaN,4.200000
1099,144024,Dextrose 5%,Magnesium,2.00,2.00,NaN,NaN,4.200000
1100,144024,Dextrose 5%,PTT,27.90,27.90,NaN,NaN,4.200000
1101,144024,Dextrose 5%,Platelets,191.00,191.00,NaN,NaN,4.200000
1102,144024,Dextrose 5%,Potassium,3.90,3.90,NaN,NaN,4.200000
1103,144024,Dextrose 5%,Prothrombin time INR,1.00,1.00,NaN,NaN,4.200000
1104,144024,Dextrose 5%,Red blood cell,4.24,4.24,NaN,NaN,4.200000
1105,144024,Dextrose 5%,Sodium,136.00,136.00,NaN,NaN,4.200000
1106,144024,Sodium Bicarbonate 8.4%,Calcium,8.40,8.40,NaN,NaN,4.216667
1107,144024,Sodium Bicarbonate 8.4%,Creatinine,0.70,0.70,NaN,NaN,4.216667
1108,144024,Sodium Bicarbonate 8.4%,Glucose,88.00,88.00,NaN,NaN,4.216667
1109,144024,Sodium Bicarbonate 8.4%,Hematocrit,40.20,40.20,NaN,NaN,4.216667
1110,144024,Sodium Bicarbonate 8.4%,Hemoglobin,12.40,12.40,NaN,NaN,4.216667
1111,144024,Sodium Bicarbonate 8.4%,Magnesium,2.00,2.00,NaN,NaN,4.216667
1112,144024,Sodium Bicarbonate 8.4%,PTT,27.90,27.90,NaN,NaN,4.216667
1113,144024,Sodium Bicarbonate 8.4%,Platelets,191.00,191.00,NaN,NaN,4.216667
1114,144024,Sodium Bicarbonate 8.4%,Potassium,3.90,3.90,NaN,NaN,4.216667
1115,144024,Sodium Bicarbonate 8.4%,Prothrombin time INR,1.00,1.00,NaN,NaN,4.216667
1116,144024,Sodium Bicarbonate 8.4%,Red blood cell,4.24,4.24,NaN,NaN,4.216667
1117,144024,Sodium Bicarbonate 8.4%,Sodium,136.00,136.00,NaN,NaN,4.216667
1157,144024,PO Intake,Calcium,8.20,8.20,0.0,0.0,10.466667
1158,144024,PO Intake,Creatinine,0.70,0.70,0.0,0.0,10.466667
1159,144024,PO Intake,Hematocrit,35.00,35.00,0.0,0.0,10.466667
1160,144024,PO Intake,Hemoglobin,11.00,11.00,0.0,0.0,10.466667
1161,144024,PO Intake,Magnesium,2.00,2.00,0.0,0.0,10.466667
1162,144024,PO Intake,PTT,30.20,30.20,0.0,0.0,10.466667
1163,144024,PO Intake,Platelets,149.00,149.00,0.0,0.0,10.466667
1164,144024,PO Intake,Potassium,3.20,3.20,NaN,NaN,11.466667
1165,144024,PO Intake,Prothrombin time INR,0.90,0.90,0.0,0.0,10.466667
1166,144024,PO Intake,Red blood cell,3.78,3.78,NaN,NaN,11.466667
1167,144024,PO Intake,Sodium,141.00,141.00,0.0,0.0,10.466667

In [ ]:
# med_lab_pair_data = pd.read_csv(os.path.join(res, "before_after_windows_main_med_lab_trends_first_val_40-80_MF_WHITE_doc_eval_win.csv"))

/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_44553/1314020246.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  med_lab_pair_data = pd.read_csv(os.path.join(res, "before_after_windows_main_med_lab_trends_first_val_40-80_MF_WHITE_doc_eval_win.csv"))

In [ ]:
## Discovery Analysis for the queried medication and lab test pairs in the chosen before and after windows
analyzer = discovery.ClinicalDiscoveryAnalysis(med_lab_pair_data)
pvals_med_lab = analyzer.analyze(before_windows, after_windows)
sig_med_lab = analyzer.generate_significant(pvals_med_lab.dropna(subset=["TTest Paired"]))

In [ ]:
res_comp = analyzer.analyze(before_windows, after_windows)
res_comp = res_comp.dropna(subset=["TTest Paired"])

In [7]:
import ast, json
res_comp = pd.read_csv("temp_med_lab_pairs_2.csv")
data = res_comp.to_dict()
data_final = [ast.literal_eval(v) for k, v in data['0'].items() if 'nan' not in v]
res_df = pd.DataFrame(data_final) ## temp_pvals_med_lab_pairs_1,4,8,12.csv

In [49]:
sig_pairs = analyzer.generate_significant(res_df)

In [61]:
def get_patient_num(med_lab_pair_data, sig_pairs):
    res_dict_1 = []
    for r in sig_pairs.iterrows():
        r = r[1].to_dict()
        b_window = f"before_abs_{r['Before Window (in Hours)']}_sp"
        a_window = f"after_abs_{r['After Window (in Hours)']}_sp"
        
        med_lab_data = med_lab_pair_data.copy()
        med_lab_data = med_lab_data[med_lab_data["LAB_NAME"]==r['Lab Name']]
        med_lab_data = med_lab_data[med_lab_data["MED_NAME"]==r['Med Name']]
        
        med_lab_data = med_lab_data.dropna(subset=[a_window,b_window])
        r['No. of Patients'] = med_lab_data.shape[0]
        
        res_dict_1.append(r)
    res_df_1 = pd.DataFrame(res_dict_1)
    return res_df_1

In [59]:
res_df_fdr = get_patient_num(med_lab_pair_data, sig_pairs=sig_pairs[-1])
res_df_fdr

,Lab Name,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired,BonferroniPvals,FDR Benjamini Corrected,No. of Patients
0,Hemoglobin,Albumin 25%,"(0, 6)","(0, 4)",2.165030e-01,2.088679e-01,6.524663e-05,3.170986e-01,2.157133e-03,57
1,Hematocrit,Albumin 5%,"(0, 6)","(0, 4)",4.629792e-08,2.784454e-08,2.127214e-23,1.033826e-19,6.461411e-21,382
2,Hemoglobin,Albumin 5%,"(0, 6)","(0, 4)",3.244294e-03,2.738292e-03,3.215162e-08,1.562569e-04,2.441514e-06,173
3,Lactic acid,Albumin 5%,"(0, 6)","(0, 4)",2.044467e-02,1.553298e-01,1.039934e-05,5.054078e-02,4.396323e-04,177
4,Platelets,Albumin 5%,"(0, 6)","(0, 4)",3.664783e-01,4.097745e-01,6.902470e-05,3.354601e-01,2.251410e-03,130
...,...,...,...,...,...,...,...,...,...,...
175,Hematocrit,Vancomycin,"(0, 6)","(0, 4)",1.882328e-02,9.458800e-03,1.466061e-10,7.125055e-07,1.583345e-08,873
176,Hemoglobin,Vancomycin,"(0, 6)","(0, 4)",2.245281e-01,1.475547e-01,2.766560e-04,1.000000e+00,7.771954e-03,499
177,Lactic acid,Vancomycin,"(0, 6)","(0, 4)",3.765819e-02,2.654006e-01,9.722280e-05,4.725028e-01,3.028864e-03,396
178,Magnesium,Vancomycin,"(0, 6)","(0, 4)",1.506045e-02,4.091403e-02,3.326912e-04,1.000000e+00,9.032844e-03,440
179,Platelets,Vancomycin,"(0, 6)","(0, 4)",4.641002e-01,4.100975e-01,1.674049e-05,8.135879e-02,6.654052e-04,441

In [64]:
res_df_bonferroni = get_patient_num(med_lab_pair_data, sig_pairs=sig_pairs[-2])
res_df_bonferroni

,Lab Name,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired,BonferroniPvals,FDR Benjamini Corrected,No. of Patients
0,Hematocrit,Albumin 5%,"(0, 6)","(0, 4)",4.629792e-08,2.784454e-08,2.127214e-23,1.033826e-19,6.461411e-21,382
1,Hemoglobin,Albumin 5%,"(0, 6)","(0, 4)",3.244294e-03,2.738292e-03,3.215162e-08,1.562569e-04,2.441514e-06,173
2,Lactic acid,Calcium Gluconate,"(0, 6)","(0, 4)",3.613381e-03,7.248819e-02,2.802141e-09,1.361841e-05,2.670276e-07,490
3,Magnesium,Calcium Gluconate,"(0, 6)","(0, 4)",3.219829e-11,8.231061e-09,1.459555e-12,7.093439e-09,1.970400e-10,516
4,Lactic acid,Cefazolin,"(0, 6)","(0, 4)",1.766977e-04,6.781788e-03,1.178209e-08,5.726098e-05,9.872582e-07,203
...,...,...,...,...,...,...,...,...,...,...
86,Lactic acid,Propofol,"(0, 6)","(0, 4)",5.152402e-03,3.597456e-02,1.051011e-06,5.107916e-03,5.939437e-05,242
87,Glucose,Ranitidine (Prophylaxis),"(0, 6)","(0, 4)",2.414618e-05,3.208018e-04,2.315893e-08,1.125524e-04,1.815361e-06,727
88,Magnesium,Sterile Water,"(0, 6)","(0, 4)",3.471606e-06,1.548746e-05,2.741181e-08,1.332214e-04,2.114625e-06,130
89,Glucose,Vancomycin,"(0, 6)","(0, 4)",8.145406e-16,2.856992e-08,2.688481e-23,1.306602e-19,7.685894e-21,1900
90,Hematocrit,Vancomycin,"(0, 6)","(0, 4)",1.882328e-02,9.458800e-03,1.466061e-10,7.125055e-07,1.583345e-08,873

In [65]:
res_df_hard = get_patient_num(med_lab_pair_data, sig_pairs=sig_pairs[-3])
res_df_hard

,Lab Name,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired,BonferroniPvals,FDR Benjamini Corrected,No. of Patients
0,Hematocrit,Albumin 25%,"(0, 6)","(0, 4)",0.291151,0.198746,0.000467,1.000000,0.012211,93
1,Hemoglobin,Albumin 25%,"(0, 6)","(0, 4)",0.216503,0.208868,0.000065,0.317099,0.002157,57
2,PTT,Albumin 25%,"(0, 6)","(0, 4)",0.555963,0.543954,0.003948,1.000000,0.074666,34
3,Platelets,Albumin 25%,"(0, 6)","(0, 4)",0.624323,0.625236,0.003036,1.000000,0.060717,53
4,Red blood cell,Albumin 25%,"(0, 6)","(0, 4)",0.171420,0.231889,0.000438,1.000000,0.011568,30
...,...,...,...,...,...,...,...,...,...,...
297,Lactic acid,Vancomycin,"(0, 6)","(0, 4)",0.037658,0.265401,0.000097,0.472503,0.003029,396
298,Magnesium,Vancomycin,"(0, 6)","(0, 4)",0.015060,0.040914,0.000333,1.000000,0.009033,440
299,Platelets,Vancomycin,"(0, 6)","(0, 4)",0.464100,0.410098,0.000017,0.081359,0.000665,441
300,Red blood cell,Vancomycin,"(0, 6)","(0, 4)",0.330999,0.214074,0.003701,1.000000,0.070672,306
301,Platelets,Vasopressin,"(0, 6)","(0, 4)",0.553225,0.379661,0.008366,1.000000,0.138278,50

In [66]:
res_sig_merged = pd.merge(res_df_bonferroni, res_df_fdr)

In [78]:
res_sig_merged.groupby(["Lab Name"]).count()

,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired,BonferroniPvals,FDR Benjamini Corrected,No. of Patients
Lab Name,,,,,,,,,
Calcium,3,3,3,3,3,3,3,3,3
Calcium ionized,2,2,2,2,2,2,2,2,2
Creatinine,1,1,1,1,1,1,1,1,1
Glucose,7,7,7,7,7,7,7,7,7
Hematocrit,12,12,12,12,12,12,12,12,12
Hemoglobin,9,9,9,9,9,9,9,9,9
Lactic acid,14,14,14,14,14,14,14,14,14
Lipase,1,1,1,1,1,1,1,1,1
Magnesium,11,11,11,11,11,11,11,11,11
PTT,1,1,1,1,1,1,1,1,1
Platelets,5,5,5,5,5,5,5,5,5
Potassium,4,4,4,4,4,4,4,4,4
Prothrombin time INR,7,7,7,7,7,7,7,7,7
Red blood cell,8,8,8,8,8,8,8,8,8
Sodium,6,6,6,6,6,6,6,6,6

In [ ]:
res_sig_merged.to_csv("temp_merged_fdr_bonferroni_sig_pairs.csv")
res_df_bonferroni.to_csv("temp_bonferroni_sig_pairs.csv")

In [73]:
res_sig_merged.sort_values("FDR Benjamini Corrected").head(50)

,Lab Name,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired,BonferroniPvals,FDR Benjamini Corrected,No. of Patients
6,Lipase,Ceftriaxone,"(0, 6)","(0, 4)",6.666667e-01,9.756170e-01,0.000000e+00,0.000000e+00,0.000000e+00,2
24,Calcium,Hetastarch (Hespan) 6%,"(0, 6)","(0, 4)",6.666667e-01,9.004963e-01,0.000000e+00,0.000000e+00,0.000000e+00,2
55,Sodium,OR Crystalloid Intake,"(0, 6)","(0, 4)",1.194441e-26,4.850671e-22,2.073795e-63,1.007864e-59,3.359548e-60,1625
67,Hematocrit,Packed Red Blood Cells,"(0, 6)","(0, 4)",2.458255e-32,1.215998e-23,7.687149e-61,3.735954e-57,9.339886e-58,806
50,Sodium,OR Cell Saver Intake,"(0, 6)","(0, 4)",4.574891e-29,1.104889e-26,1.028923e-47,5.000564e-44,1.000113e-44,873
49,Red blood cell,OR Cell Saver Intake,"(0, 6)","(0, 4)",1.436057e-21,3.489824e-20,5.804726e-39,2.821097e-35,4.701828e-36,308
32,Magnesium,Magnesium Sulfate,"(0, 6)","(0, 4)",4.064816e-113,1.249892e-33,1.404933e-37,6.827973e-34,9.754247e-35,745
45,Hemoglobin,OR Cell Saver Intake,"(0, 6)","(0, 4)",1.447434e-09,1.392733e-09,1.304622e-34,6.340461e-31,7.925576e-32,777
10,Glucose,Dextrose 50%,"(0, 6)","(0, 4)",4.191638e-31,3.349499e-17,3.626155e-32,1.762311e-28,1.958124e-29,409
54,Red blood cell,OR Crystalloid Intake,"(0, 6)","(0, 4)",1.374133e-16,3.399248e-13,1.366595e-28,6.641652e-25,6.110095e-26,535
48,Prothrombin time INR,OR Cell Saver Intake,"(0, 6)","(0, 4)",1.613964e-08,1.001609e-06,1.382943e-28,6.721104e-25,6.110095e-26,683
53,Prothrombin time INR,OR Crystalloid Intake,"(0, 6)","(0, 4)",5.968013e-06,4.773318e-04,6.343904e-26,3.083137e-22,2.569281e-23,1115
63,Sodium,OR Packed RBC Intake,"(0, 6)","(0, 4)",1.498765e-09,1.188672e-07,4.118074e-25,2.001384e-21,1.539526e-22,542
34,Magnesium,Magnesium Sulfate (Bolus),"(0, 6)","(0, 4)",7.782680e-86,8.304385e-14,2.304301e-24,1.119890e-20,7.999215e-22,583
51,Hemoglobin,OR Crystalloid Intake,"(0, 6)","(0, 4)",6.775826e-06,1.549314e-05,9.202016e-24,4.472180e-20,2.981453e-21,1465
0,Hematocrit,Albumin 5%,"(0, 6)","(0, 4)",4.629792e-08,2.784454e-08,2.127214e-23,1.033826e-19,6.461411e-21,382
89,Glucose,Vancomycin,"(0, 6)","(0, 4)",8.145406e-16,2.856992e-08,2.688481e-23,1.306602e-19,7.685894e-21,1900
68,Hemoglobin,Packed Red Blood Cells,"(0, 6)","(0, 4)",4.333642e-09,5.214711e-07,1.088345e-21,5.289356e-18,2.938531e-19,361
43,Glucose,OR Cell Saver Intake,"(0, 6)","(0, 4)",6.322039e-08,1.681468e-06,1.004767e-20,4.883166e-17,2.570088e-18,1013
83,Hemoglobin,Pre-Admission Intake,"(0, 6)","(0, 4)",1.398546e-03,1.177317e-03,5.459690e-20,2.653409e-16,1.326705e-17,520
27,Glucose,Insulin - Regular,"(0, 6)","(0, 4)",2.189386e-14,1.485992e-07,1.923674e-19,9.349053e-16,4.451930e-17,2067
52,Lactic acid,OR Crystalloid Intake,"(0, 6)","(0, 4)",9.863633e-08,6.164599e-05,2.801295e-18,1.361429e-14,6.188315e-16,533
82,Hematocrit,Pre-Admission Intake,"(0, 6)","(0, 4)",1.219317e-03,1.030090e-03,5.817259e-18,2.827188e-14,1.229212e-15,621
79,Lactic acid,Potassium Chloride,"(0, 6)","(0, 4)",3.539408e-07,8.059030e-04,2.478138e-17,1.204375e-13,5.018230e-15,381
62,Red blood cell,OR Packed RBC Intake,"(0, 6)","(0, 4)",1.810649e-09,5.627868e-08,9.443958e-16,4.589764e-12,1.835905e-13,226
30,Lactic acid,KCL (Bolus),"(0, 6)","(0, 4)",1.431235e-07,2.622125e-04,1.435345e-15,6.975775e-12,2.682990e-13,341
46,Lactic acid,OR Cell Saver Intake,"(0, 6)","(0, 4)",6.939585e-08,2.114055e-05,4.777625e-15,2.321926e-11,8.599724e-13,285
59,Hemoglobin,OR Packed RBC Intake,"(0, 6)","(0, 4)",1.078882e-04,1.162675e-04,1.720427e-14,8.361276e-11,2.986170e-12,505
44,Hematocrit,OR Cell Saver Intake,"(0, 6)","(0, 4)",1.270762e-04,1.363676e-04,2.385413e-14,1.159311e-10,3.997623e-12,876
60,Lactic acid,OR Packed RBC Intake,"(0, 6)","(0, 4)",5.482899e-05,8.422268e-04,2.857897e-14,1.388938e-10,4.629793e-12,256
85,Red blood cell,Pre-Admission Intake,"(0, 6)","(0, 4)",9.448982e-04,1.907517e-03,3.311759e-14,1.609515e-10,5.191983e-12,344
84,Platelets,Pre-Admission Intake,"(0, 6)","(0, 4)",6.266627e-02,7.457556e-02,1.312450e-13,6.378505e-10,1.993283e-11,498
58,Sodium,OR FFP Intake,"(0, 6)","(0, 4)",3.408905e-05,3.146442e-04,2.098563e-13,1.019901e-09,3.090610e-11,274
71,Red blood cell,Packed Red Blood Cells,"(0, 6)","(0, 4)",1.570645e-06,3.794727e-05,3.870826e-13,1.881222e-09,5.533005e-11,202
23,Red blood cell,Heparin Sodium (Prophylaxis),"(0, 6)","(0, 4)",8.792837e-03,1.232053e-02,8.065626e-13,3.919894e-09,1.119970e-10,248
3,Magnesium,Calcium Gluconate,"(0, 6)","(0, 4)",3.219829e-11,8.231061e-09,1.459555e-12,7.093439e-09,1.970400e-10,516
61,Prothrombin time INR,OR Packed RBC Intake,"(0, 6)","(0, 4)",2.009072e-03,6.301154e-03,2.074701e-12,1.008304e-08,2.725147e-10,397
31,Calcium,Magnesium Sulfate,"(0, 6)","(0, 4)",5.329836e-04,2.168216e-04,4.828741e-12,2.346768e-08,6.175706e-10,613
19,Hemoglobin,Heparin Sodium (Prophylaxis),"(0, 6)","(0, 4)",1.867131e-02,1.985699e-02,6.252025e-12,3.038484e-08,7.790985e-10,366
47,Potassium,OR Cell Saver Intake,"(0, 6)","(0, 4)",2.040248e-03,2.128301e-04,2.023741e-11,9.835380e-08,2.458845e-09,972
78,Platelets,Platelets,"(0, 6)","(0, 4)",6.911582e-03,6.450998e-02,2.718528e-11,1.321205e-07,3.222450e-09,288
37,Lactic acid,Morphine Sulfate,"(0, 6)","(0, 4)",2.801020e-06,2.142958e-03,3.557854e-11,1.729117e-07,4.116945e-09,241
40,Lactic acid,NaCl 0.9%,"(0, 6)","(0, 4)",2.839928e-04,2.738976e-02,5.953440e-11,2.893372e-07,6.728772e-09,270
66,Glucose,PO Intake,"(0, 6)","(0, 4)",7.452641e-07,1.498800e-04,7.158609e-11,3.479084e-07,7.907009e-09,2285
90,Hematocrit,Vancomycin,"(0, 6)","(0, 4)",1.882328e-02,9.458800e-03,1.466061e-10,7.125055e-07,1.583345e-08,873
8,Magnesium,Dextrose 5%,"(0, 6)","(0, 4)",2.631970e-07,2.315568e-04,1.665161e-10,8.092680e-07,1.759278e-08,635
81,Creatinine,Pre-Admission Intake,"(0, 6)","(0, 4)",4.741254e-02,3.831860e-01,5.315393e-10,2.583281e-06,5.496343e-08,527
65,Sodium,OR Platelet Intake,"(0, 6)","(0, 4)",7.479224e-05,8.614807e-04,6.703794e-10,3.258044e-06,6.787591e-08,221
18,Hematocrit,Heparin Sodium (Prophylaxis),"(0, 6)","(0, 4)",4.224470e-02,2.636673e-02,1.436202e-09,6.979940e-06,1.424478e-07,505
12,Hematocrit,Famotidine (Pepcid),"(0, 6)","(0, 4)",5.200507e-02,3.103670e-02,1.716208e-09,8.340772e-06,1.668154e-07,387

In [ ]:
67, 32, 34, 0, 71

In [91]:
lab_name = 'Glucose'
med_name = 'Insulin - Regular'
res_dis_1 = analyzer.statistical_tests(med_name, lab_name, before_windows, after_windows)

In [92]:
pd.DataFrame(res_dis_1)

,Lab Name,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired
0,Glucose,Insulin - Regular,"(0, 12)","(0, 12)",1.295140e-43,1.708010e-19,6.662180e-50

In [ ]:
pd.DataFrame(res_dis_1)

,Lab Name,Med Name,Before Window (in Hours),After Window (in Hours),Mannwhitneyu Test,TTest Independent,TTest Paired
0,Glucose,Insulin - Regular,"before_abs_(0, 6)_sp","after_abs_(0, 4)_sp",2.189386e-14,1.485992e-07,1.923674e-19
1,Glucose,Insulin - Regular,"before_abs_(6, 12)_sp","after_abs_(0, 4)_sp",4.326885e-13,7.642086e-02,1.329148e-02
2,Glucose,Insulin - Regular,"before_abs_(0, 6)_sp","after_abs_(4, 8)_sp",7.587147e-14,1.444190e-11,6.954230e-20
3,Glucose,Insulin - Regular,"before_abs_(6, 12)_sp","after_abs_(4, 8)_sp",5.304810e-01,1.426278e-01,7.623842e-02
4,Glucose,Insulin - Regular,"before_abs_(0, 6)_sp","after_abs_(8, 12)_sp",8.997221e-09,6.818553e-07,1.101460e-10
5,Glucose,Insulin - Regular,"before_abs_(6, 12)_sp","after_abs_(8, 12)_sp",8.560342e-02,4.862437e-02,6.028435e-03

In [ ]:
data

'/Users/pavan/Library/CloudStorage/GoogleDrive-f20190038@hyderabad.bits-pilani.ac.in/My Drive/TAU/Code/DrugLab/data'

In [ ]:
import os
import pandas as pd
MIMIC_III_RAW_PATH = "mimiciii/1.4/raw"
data = '/Users/pavan/Library/CloudStorage/GoogleDrive-f20190038@hyderabad.bits-pilani.ac.in/My Drive/TAU/Code/DrugLab/data'
def change_col_to_datetime(df, col):
    df[col] = pd.to_datetime(df[col])
    return df
# Filtering 1st admission data for each subject/patient
admits = pd.read_csv(os.path.join(data, MIMIC_III_RAW_PATH, "ADMISSIONS.csv.gz")).sort_values(["SUBJECT_ID", "ADMITTIME"]).groupby(["SUBJECT_ID"]).nth(0).reset_index()
inputevents_mv = pd.read_csv(os.path.join(data, MIMIC_III_RAW_PATH, "INPUTEVENTS_MV.csv.gz"))
patients = pd.read_csv(os.path.join(data, MIMIC_III_RAW_PATH, "PATIENTS.csv.gz"))
        
### Merge medication and admission data
inputevents_mv = pd.merge(inputevents_mv, admits, how="inner", on=["HADM_ID", "SUBJECT_ID"])
inputevents_mv = pd.merge(inputevents_mv, patients, how="inner", on=["SUBJECT_ID"])
inputevents_mv = change_col_to_datetime(inputevents_mv, 'ADMITTIME')
inputevents_mv = change_col_to_datetime(inputevents_mv, 'ENDTIME')
inputevents_mv = change_col_to_datetime(inputevents_mv, 'STARTTIME')
inputevents_mv = change_col_to_datetime(inputevents_mv, 'DOB')
inputevents_mv['MedTimeFromAdmit'] = inputevents_mv['ENDTIME']-inputevents_mv['ADMITTIME']
inputevents_mv["hours_in"] = inputevents_mv["MedTimeFromAdmit"].dt.total_seconds()//3600
meds_after_admit = inputevents_mv[inputevents_mv["hours_in"]>=0]
meds_after_admit

,ROW_ID_x,SUBJECT_ID,HADM_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,RATE,...,HAS_CHARTEVENTS_DATA,ROW_ID,GENDER,DOB,DOD,DOD_HOSP,DOD_SSN,EXPIRE_FLAG,MedTimeFromAdmit,hours_in
0,241,27063,139787,223259.0,2133-02-05 06:29:00,2133-02-05 08:45:00,225166,6.774532,mEq,NaN,...,1,25533,M,2053-01-07,2133-02-07 00:00:00,NaN,2133-02-07 00:00:00,1,16 days 13:31:00,397.0
1,242,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225944,28.132997,ml,30.142497,...,1,25533,M,2053-01-07,2133-02-07 00:00:00,NaN,2133-02-07 00:00:00,1,16 days 11:16:00,395.0
2,243,27063,139787,223259.0,2133-02-05 05:34:00,2133-02-05 06:30:00,225166,2.813300,mEq,NaN,...,1,25533,M,2053-01-07,2133-02-07 00:00:00,NaN,2133-02-07 00:00:00,1,16 days 11:16:00,395.0
3,244,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,225893,1.000000,dose,NaN,...,1,25533,M,2053-01-07,2133-02-07 00:00:00,NaN,2133-02-07 00:00:00,1,14 days 16:47:00,352.0
4,245,27063,139787,223259.0,2133-02-03 12:00:00,2133-02-03 12:01:00,220949,100.000000,ml,NaN,...,1,25533,M,2053-01-07,2133-02-07 00:00:00,NaN,2133-02-07 00:00:00,1,14 days 16:47:00,352.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2735066,3565320,68807,136015,278608.0,2146-09-23 12:00:00,2146-09-23 12:01:00,225158,500.000000,ml,NaN,...,1,38423,F,2059-03-12,NaN,NaN,NaN,0,0 days 05:05:00,5.0
2735067,3565321,68807,136015,278608.0,2146-09-24 08:36:00,2146-09-24 08:37:00,226452,360.000000,ml,NaN,...,1,38423,F,2059-03-12,NaN,NaN,NaN,0,1 days 01:41:00,25.0
2735068,3565322,68807,136015,278608.0,2146-09-23 17:29:00,2146-09-23 17:30:00,226452,60.000000,ml,NaN,...,1,38423,F,2059-03-12,NaN,NaN,NaN,0,0 days 10:34:00,10.0
2735069,3565323,68807,136015,278608.0,2146-09-24 08:41:00,2146-09-24 08:42:00,227694,1.000000,dose,NaN,...,1,38423,F,2059-03-12,NaN,NaN,NaN,0,1 days 01:46:00,25.0
2735070,3565324,68807,136015,278608.0,2146-09-23 10:56:00,2146-09-23 10:57:00,225154,2.000000,mg,NaN,...,1,38423,F,2059-03-12,NaN,NaN,NaN,0,0 days 04:01:00,4.0

In [ ]:
med_data = pd.read_csv(os.path.join(data, constants.MIMIC_III_RAW_PATH, "D_ITEMS.csv.gz"))
med_data = med_data[med_data["DBSOURCE"].isin(["metavision", "carevue"])]   ## As we are only working with INPUTEVENTS_MV and INPUTEVENTS_CV tables

# Merge medication data with medication labels
meds_after_admit = pd.merge(meds_after_admit, med_data, how="inner", on="ITEMID")
meds_after_admit[["LABEL", "hours_in"]]

/var/folders/by/jbk3mn054mv4x7_28jxcwvx80000gn/T/ipykernel_58022/809577499.py:5: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ROW_ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  meds_after_admit = pd.merge(meds_after_admit, med_data, how="inner", on="ITEMID")

                      LABEL  hours_in
0        Potassium Chloride     397.0
1        Potassium Chloride     395.0
2        Potassium Chloride     395.0
3        Potassium Chloride     401.0
4        Potassium Chloride     394.0
...                     ...       ...
2734372     Pulmocare (1/4)     110.0
2734373        Dextrose 30%      17.0
2734374        Dextrose 30%      27.0
2734375        Dextrose 30%      20.0
2734376        Dextrose 30%      19.0

[2734377 rows x 2 columns]

In [ ]:
meds_after_admit[["ITEMID", "HADM_ID", "LABEL", "hours_in"]].to_csv("temp_hours_in_adm.csv")

In [36]:
temp = m_med1[m_med1["hours_in"]>0].copy()
temp = temp[["ITEMID", "HADM_ID", "hours_in", "AMOUNTUOM", "AMOUNT"]]

In [39]:
uom_counts = temp.groupby(["ITEMID", "AMOUNTUOM"]).count().reset_index().groupby("ITEMID").count()

In [42]:
uom_out_itemids = uom_counts[uom_counts["HADM_ID"]>1].index

In [44]:
uom_out_itemids

Index(['Acetaminophen-IV', 'Acyclovir', 'Amino Acids', 'Ampicillin',
       'Ampicillin/Sulbactam (Unasyn)', 'Azithromycin', 'Bactrim (SMX/TMP)',
       'Caspofungin', 'Cefazolin', 'Cefepime', 'Ceftazidime', 'Ceftriaxone',
       'Ciprofloxacin', 'Clindamycin', 'Coumadin (Warfarin)', 'Daptomycin',
       'Dexmedetomidine (Precedex)', 'Dilantin', 'Enoxaparin (Lovenox)',
       'Epinephrine', 'Erythromycin', 'Factor VIIa', 'Famotidine (Pepcid)',
       'Fentanyl', 'Fentanyl (Concentrate)', 'Fluconazole', 'Folic Acid',
       'Gancyclovir', 'Gentamicin', 'Hydromorphone (Dilaudid)', 'KCl (CRRT)',
       'Levofloxacin', 'Linezolid', 'Magnesium Sulfate', 'Mannitol',
       'Meropenem', 'Metronidazole', 'Micafungin', 'Morphine Sulfate',
       'Nafcillin', 'Naloxone (Narcan)', 'OR FFP Intake', 'Octreotide',
       'Pantoprazole (Protonix)', 'Piperacillin',
       'Piperacillin/Tazobactam (Zosyn)', 'Propofol',
       'Ranitidine (Prophylaxis)', 'Rifampin', 'Sodium Bicarbonate 8.4%',
       'Thiamine', 'Tobramycin', 'Vancomycin', 'Vecuronium'],
      dtype='object', name='ITEMID')

In [47]:
error_cases = temp[temp.ITEMID.isin(uom_out_itemids)]
error_cases[error_cases["ITEMID"]=="Thiamine"].AMOUNTUOM.value_counts()

mg      490
dose      2
Name: AMOUNTUOM, dtype: int64

In [51]:
uom_labs_counts = m_labs[["HADM_ID", "ITEMID", "VALUE", "VALUEUOM"]].groupby(["ITEMID", "VALUEUOM"]).count().reset_index().groupby("ITEMID").count()

In [55]:
uom_lab_out_itemids = uom_labs_counts[uom_labs_counts["HADM_ID"]>1].index

In [56]:
uom_lab_out_itemids

Index(['Calcium', 'Hemoglobin', 'Red blood cell'], dtype='object', name='ITEMID')

In [60]:
temp_lab =  m_labs[["HADM_ID", "ITEMID", "VALUE", "VALUEUOM"]]
error_lab_cases = temp_lab[temp_lab.ITEMID.isin(uom_lab_out_itemids)]
error_lab_cases[error_lab_cases["ITEMID"]=="Red blood cell"].VALUEUOM.value_counts()

m/uL      88432
/mic l     1180
Name: VALUEUOM, dtype: int64

In [61]:
mapping_inhumane = pd.read_csv(os.path.join("/Users/pavan/Library/CloudStorage/GoogleDrive-f20190038@hyderabad.bits-pilani.ac.in/.shortcut-targets-by-id/1ubRltB1OByqQIbGfHVuao0jJfcCh0KRe/TAU/temp_mapping_140722_partial - temp_mapping_140722_partial.csv"))

In [66]:
mapping_inhumane.dropna()

,belinson,ukb,tamsc,parsed_name,sheba,measurement_type,full_name,min_range,max_range,min_inhuman,max_inhuman,unit
9,C.REACTIVE.PROTEIN,crp_30710_0,High_sensetive_CRP,crp,CRP,comp_metabolic_panel,C-Reactive Protein,0.03,5,0,1000,mg/L
20,EOS.abs,eos_abs,EOS_NO,eos_abs,eos_abs,complete_blood_count,Eosinophil count,0,0.4,0,5,10e3/µL
21,EOS..,eos_per_30210_0,EOS_precent,eos_per,EOS,complete_blood_count,Eosinophils,0,7,0,20,%
22,HCT,hct_30030_0,HCT,hct,HCT,complete_blood_count,Hematocrit,36,50,20,60,%
23,HGB,hgb_30020_0,HGB,hgb,HGB,complete_blood_count,Hemoglobin,11.7,17.2,2,25,g/dL
24,LYMP.abs,lym_abs,LYM,lym_abs,lym_abs,complete_blood_count,Lymphocyte Count,1.2,3,0.1,40,10e3/µL
25,LYM.,lym_per_30180_0,LYM_precent,lym_per,LYMPH,complete_blood_count,Lymphocytes,16,43,0.1,99,%
28,MCV,mcv_30040_0,MCV,mcv,MCV,complete_blood_count,Mean corpuscular volume,76,100,40,150,fL
29,MONO.abs,mono_abs,MONO,mono_abs,mono_abs,complete_blood_count,Monocytes Count,0,1.3,0,10,10e3/µL
30,MONO.,mono_per_30190_0,MONO_precent,mono_per,MONO,complete_blood_count,Monocytes,2,13,0.1,99,%
32,NEUT.abs,neut_abs,NEU,neut_abs,neut_abs,complete_blood_count,Neurtrophils count,1.4,6,0.1,10,10e3/µL
33,NEUT.,neut_per_30200_0,NEU_precent,neut_per,NEUTRIO,complete_blood_count,Neurtrophils,40,75,0.1,99,%
34,PLT,plt_30080_0,PLT,plt,PLT,complete_blood_count,Platelet count,150,450,1,1000,10e3/µL
37,WBC,wbc_30000_0,WBC,wbc,WBC,complete_blood_count,White Blood Cells,4.5,11,0.2,150,10e3/µL
38,Gender,gender_31,gender,gender,Gender,deafult,deafult,deafult,deafult,deafult,deafult,deafult
39,CodedID,eid,patient_id,patient_id,MS_ZIOI,deafult,deafult,deafult,deafult,deafult,deafult,deafult
40,VisitDate.new,visit_date_53,dateblod,visit_date,TARIKH_MKTV,deafult,deafult,deafult,deafult,deafult,deafult,deafult
41,Age,age,age_computed,age,Age,demographics,Age,18,120,18,120,years
42,BMI,bmi_by_h_w_21001_0,bmi,bmi,BMI,demographics,BMI,18.5,25,10,70,kg/m^2
43,Height,height_12144_0,height,height,Height,demographics,Height,120,220,120,220,cm
45,Weight,weight_21002_0,weight,weight,Weight,demographics,Weight,30,180,30,180,kg
54,CHOLESTEROL,cholesterol_30690_0,Cholesterol_blood,cholesterol,CHOLESTEROL,lipid_profile,Total Cholesterol,120,200,30,1000,mg/dL
55,CHOLESTEROL..HDL,hdl_30760_0,HDL_cholesterol_blood,hdl,HDL,lipid_profile,High Density Liporprotein Cholesterol,40,200,10,300,mg/dL
56,CHOLESTEROL..LDL,ldl_30780_0,LDL_cholesterol_calculated_blood,ldl,LDL,lipid_profile,Low Density Liporprotein Cholesterol,50,160,10,1000,mg/dL
57,TRIGLYCERIDES,triglycerides_30870_0,Triglycerides_blood,triglycerides,TRIGLYCER,lipid_profile,Triglycerides,50,150,10,2000,mg/dL
58,ALBUMIN,albumin_30600_0,Albumin_blood,albumin,ALBUMIN_A,metabolic_panel,Albumin,3.3,5.5,1,10,gr/dL
59,ALK..PHOSPHATASE,alk_phospatase_30610_0,Alkaline_Phosphatase_blood,alk_phospatase,ALK_PHOSPH,metabolic_panel,Alkaline Phosphatase,30,120,10,600,U/L
61,GOT..AST.,ast_30650_0,AST_GOT_aspertate_aminotrans_blood,ast,SGOT,metabolic_panel,Aspratate aminotransferase,6,40,1,600,U/L
62,BILIRUBIN.TOTAL,t_bilirubin_30840_0,Bilirubin_total_blood,bilirubin,BILIRUBIN,metabolic_panel,Bilirubin,0.1,1.2,0,10,mg/dL
65,CALCIUM,calcium_30680_0,Calcium_total_blood,calcium,CA,metabolic_panel,Calcium,8.5,10.5,0.1,20,mg/dL
68,CREATININE,creatinine_30700_0,Creatinin_blood,creatinine,CREA,metabolic_panel,Creatinine,0.6,1.3,0.1,15,mg/dL
70,GLUCOSE,glucose_30740_0,Glucose_blood,glucose,GLUCOSE_A,metabolic_panel,Glocuse,70,110,15,1000,mg/dL
73,PHOSPHORUS,phosphorus_30810_0,Phosphorus_blood,phosphorus,PHOSPHOR,metabolic_panel,Phosphorus,2.5,4.5,1.5,7,mg/dL
76,PROTEIN.TOTAL,total_protein_30860_0,Protein_total_blood,total_protein,TP,metabolic_panel,Total Protein,6.4,8.6,3.5,20,gr/dL
77,UREA,urea_30670_0,BUN_blood,urea,UREA,metabolic_panel,Urea Nitrogen,15,47,2,200,mg/dL
78,URIC.ACID,uric_acid_30880_0,Uric_acid_blood,uric_acid,URIC_ACID,metabolic_panel,Uric Acid,2.3,8,0.1,30,mg/dL
88,Diastolic,avg_diastolic,diastoli,diastolic,Diastolic,vital_signs,Diastolic Blood Pressure,60,90,20,250,mmHg
91,Systolic,avg_systolic,sistolic,systolic,Systolic,vital_signs,Systolic Blood Pressure,90,140,20,250,mmHg

In [62]:
map_inhum = {
    'Red blood cell':'Red Blood Cells',
    'Vitamin B12':'Vitamin B12',
    'Alanine aminotransferase':'Alanine amino transferase',
    'Asparate aminotransferase':'Aspratate aminotransferase',
    'Albumin':'Albumin',
    'Prothrombin time INR':'INR(PT)',
    'PTT':'PTT',
    'Bilirubin': 'Bilirubin',
    'Calcium':'Calcium',
    'Hematocrit':'Hematocrit',
    'Creatinine':'Creatinine',
    'Glucose':'Glocuse',
    'Magnesium':'Magnesium',
    'Platelets':'Platelet count',
    'Potassium':'Potassium',
    'Sodium':'Sodium',
    'Uric Acid':'Uric Acid'
}

In [63]:
map_inhum_r = {v:k for k,v in map_inhum.items()}

In [70]:
# m_labs.apply(lambda r: remove_inhumane(r), axis=1)
for k, v in map_inhum_r.items():
    t_row_l = mapping_inhumane[mapping_inhumane.full_name == k].iloc[0]
    temp_cal = m_labs[(m_labs['ITEMID']==v) & ((m_labs['VALUE'] < float(t_row_l["min_range"])) | (m_labs['VALUE'] > float(t_row_l["max_range"])) )]
    percent = 100 * ( (m_labs[(m_labs['ITEMID']==v)].shape[0] - temp_cal.shape[0] ) / m_labs[(m_labs['ITEMID']==v)].shape[0] )
    print(f"Measurement type : {temp_cal.VALUEUOM.unique()}")
    print(f"Inhumane values shape: {temp_cal.shape[0]}")
    print(f"Original shape : {m_labs[(m_labs['ITEMID']==v)].shape[0]} and New Shape : {m_labs[(m_labs['ITEMID']==v)].shape[0] - temp_cal.shape[0]}")
    print(f"Percentage change in {k} measurement == {round(percent, 2)} %\n")
    # m_labs = m_labs.drop(temp_cal.index)

Measurement type : ['m/uL' '/mic l']
Inhumane values shape: 67830
Original shape : 89612 and New Shape : 21782
Percentage change in Red Blood Cells measurement == 24.31 %

Measurement type : ['pg/mL']
Inhumane values shape: 316
Original shape : 953 and New Shape : 637
Percentage change in Vitamin B12 measurement == 66.84 %

Measurement type : ['IU/L' nan]
Inhumane values shape: 17786
Original shape : 34983 and New Shape : 17197
Percentage change in Alanine amino transferase measurement == 49.16 %

Measurement type : ['IU/L' nan]
Inhumane values shape: 19548
Original shape : 34962 and New Shape : 15414
Percentage change in Aspratate aminotransferase measurement == 44.09 %

Measurement type : ['g/dL' nan]
Inhumane values shape: 13268
Original shape : 20873 and New Shape : 7605
Percentage change in Albumin measurement == 36.43 %

Measurement type : []
Inhumane values shape: 0
Original shape : 77537 and New Shape : 77537
Percentage change in INR(PT) measurement == 100.0 %

Measurement type : []
Inhumane values shape: 0
Original shape : 81894 and New Shape : 81894
Percentage change in PTT measurement == 100.0 %

Measurement type : ['mg/dL' nan]
Inhumane values shape: 19246
Original shape : 40558 and New Shape : 21312
Percentage change in Bilirubin measurement == 52.55 %

Measurement type : ['mg/dL' nan 'mg/dl']
Inhumane values shape: 62260
Original shape : 108267 and New Shape : 46007
Percentage change in Calcium measurement == 42.49 %

Measurement type : ['%' nan]
Inhumane values shape: 131322
Original shape : 154608 and New Shape : 23286
Percentage change in Hematocrit measurement == 15.06 %

Measurement type : ['mg/dL' nan]
Inhumane values shape: 52831
Original shape : 130239 and New Shape : 77408
Percentage change in Creatinine measurement == 59.44 %

Measurement type : ['mg/dL' nan]
Inhumane values shape: 196326
Original shape : 274128 and New Shape : 77802
Percentage change in Glocuse measurement == 28.38 %

Measurement type : ['mg/dL' nan]
Inhumane values shape: 24795
Original shape : 119772 and New Shape : 94977
Percentage change in Magnesium measurement == 79.3 %

Measurement type : ['K/uL' nan]
Inhumane values shape: 50481
Original shape : 122294 and New Shape : 71813
Percentage change in Platelet count measurement == 58.72 %

Measurement type : ['mEq/L' nan]
Inhumane values shape: 21105
Original shape : 139696 and New Shape : 118591
Percentage change in Potassium measurement == 84.89 %

Measurement type : ['mEq/L' nan]
Inhumane values shape: 36607
Original shape : 151870 and New Shape : 115263
Percentage change in Sodium measurement == 75.9 %

Measurement type : ['mg/dL']
Inhumane values shape: 811
Original shape : 2494 and New Shape : 1683
Percentage change in Uric Acid measurement == 67.48 %