In [2]:
import pandas as pd

In [3]:
import os
raw_path = '/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/hirid-a-high-time-resolution-icu-dataset-1.1.1/raw_stage/'
res_path = '/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/hirid-a-high-time-resolution-icu-dataset-1.1.1'

In [4]:
observation_tables_paths = sorted([i for iq, i in enumerate(os.walk(os.path.join(raw_path, "observation_tables 2"))) if iq==1][0][2])
observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])

# part = 4
# observation_tables_part = pd.read_csv(os.path.join(raw_path, 'observation_tables 2', 'csv', f'part-{part}.csv'))

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_13039/2270605941.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables 2", 'csv', file)) for file in observation_tables_paths[:50]])

In [5]:
observation_tables_part = observation_tables

In [6]:
pharma_records_paths = [i for iq, i in enumerate(os.walk(os.path.join(raw_path, "pharma_records"))) if iq==1][0][2]
pharma_records = pd.concat([pd.read_csv(os.path.join(raw_path, "pharma_records", 'csv', file)) for file in pharma_records_paths])

In [7]:
pharma_records = pharma_records.rename(columns={"pharmaid":"variableid"})
pharma_records

,patientid,variableid,givenat,enteredentryat,givendose,cumulativedose,fluidamount_calc,cumulfluidamount_calc,doseunit,route,infusionid,typeid,subtypeid,recordstatus
0,259,1000251,2114-10-16 15:10:00.000,2114-10-16 16:51:50.890,25.000000,25.000,0.500000,0.500000,µg,iv-inj,1713071,1,8.0,780
1,259,1000489,2114-10-16 16:30:00.000,2114-10-16 16:33:33.700,1.000000,1.000,100.000002,100.000002,g,iv-inf,1156992,1,8.0,780
2,259,1000251,2114-10-16 16:52:00.000,2114-10-16 16:51:59.826,25.000000,25.000,0.500000,0.500000,µg,iv-inj,309556,1,8.0,780
3,259,1000300,2114-10-16 20:00:00.000,2114-10-16 21:48:11.876,2.000000,2.000,20.000000,20.000000,g,cv-inf,595756,1,8.0,780
4,259,1000251,2114-10-16 20:05:00.000,2114-10-16 20:05:21.063,25.000000,25.000,0.500000,0.500000,µg,iv-inj,1461001,1,8.0,780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57620,33088,107,2166-11-23 10:04:38.610,2166-11-23 10:04:36.710,104.861115,8396.527,0.251667,20.151666,U,iv-inf,143772,1,8.0,8
57621,33088,107,2166-11-23 10:19:39.640,2166-11-23 10:19:35.986,104.282410,8500.811,0.250278,20.401946,U,iv-inf,143772,1,8.0,8
57622,33088,107,2166-11-23 10:34:44.700,2166-11-23 10:34:42.730,104.745370,8605.556,0.251389,20.653334,U,iv-inf,143772,1,8.0,8
57623,33088,107,2166-11-23 10:41:23.600,2166-11-23 10:41:21.383,46.064816,8651.620,0.110556,20.763889,U,iv-inf,143772,1,8.0,520
57624,33088,107,2166-11-23 10:42:00.000,2166-11-23 10:42:22.290,0.462963,8652.083,0.001111,20.765000,U,iv-inf,143772,1,8.0,776

In [8]:
path1 = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/hirid-a-high-time-resolution-icu-dataset-1.1.1"
g_table = pd.read_csv(os.path.join(path1, 'general_table.csv'))
h_var_ref = pd.read_csv(os.path.join(path1, 'hirid_variable_reference.csv'))
h_var_ref_pre = pd.read_csv(os.path.join(path1, 'hirid_variable_reference_preprocessed.csv'))
o_var_ref = pd.read_csv(os.path.join(path1, 'ordinal_vars_ref.csv'))

In [9]:
g_table

       patientid        admissiontime sex  age discharge_status
0              1  2197-04-03 19:15:00   M   75            alive
1              2  2117-10-18 22:35:00   M   80            alive
2              3  2163-10-17 19:15:00   M   55            alive
3              4  2149-01-08 15:30:00   M   75            alive
4              5  2144-06-06 16:15:00   M   20            alive
...          ...                  ...  ..  ...              ...
33900      33901  2119-06-15 21:55:00   M   70            alive
33901      33902  2182-12-12 21:20:00   F   75            alive
33902      33903  2176-06-21 12:00:00   M   65            alive
33903      33904  2162-03-19 23:35:00   F   70            alive
33904      33905  2171-02-25 20:20:00   F   80            alive

[33905 rows x 5 columns]

In [10]:
h_var_ref = h_var_ref.rename(columns={"ID":"variableid"})
h_var_ref

,Source Table,variableid,Variable Name,Unit,Additional information
0,Observation,200,Heart rate,/min,NaN
1,Observation,410,Core body temperature,°C,NaN
2,Observation,7100,Rectal temperature,°C,NaN
3,Observation,400,Axillary temperature,°C,NaN
4,Observation,100,Invasive systolic arterial pressure,mmHg,NaN
...,...,...,...,...,...
707,Pharma,1001045,Madopar Tbl 125 mg,NaN,NaN
708,Pharma,1000266,PK-Merz 500 ml,NaN,NaN
709,Pharma,1000406,Madopar LIQ 125 mg Tbl,NaN,NaN
710,Pharma,1000620,Neupogen 48 Mio U,NaN,NaN
711,Pharma,1000619,Neupogen 30 Mio U,NaN,NaN

In [11]:
o_var_ref

    variableid  code           stringvalue
0         3845     1              Stand By
1         3845     2                   DGV
2         3845     3                   CMV
3         3845     4  Druckreg. Vol.Kontr.
4         3845     5  Volumenunterstützung
..         ...   ...                   ...
67    15001552     2        tracheotomiert
68    15001552     3                 Maske
69    15001552     4                  Helm
70    15001552     5    Mundstück(Stellar)
71    15001552     6                     -

[72 rows x 3 columns]

In [12]:
observation_tables_part_with_name = pd.merge(observation_tables_part, h_var_ref, on="variableid", how="inner")
observation_tables_part_with_name = pd.merge(observation_tables_part_with_name, g_table, on="patientid", how="inner")

In [13]:
observation_tables_part_with_name.datetime = pd.to_datetime(observation_tables_part_with_name.datetime)

In [14]:
observation_tables_part_with_name

,datetime,entertime,patientid,status,stringvalue,type,value,variableid,Source Table,Variable Name,Unit,Additional information,admissiontime,sex,age,discharge_status
0,2183-05-12 12:00:00,2183-05-12 13:20:27.020,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
1,2183-05-12 12:54:00,2183-05-12 14:03:40.170,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
2,2183-05-12 12:58:00,2183-05-12 14:03:56.950,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
3,2183-05-12 13:00:00,2183-05-12 14:40:43.380,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
4,2183-05-12 13:02:00,2183-05-12 14:40:43.380,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159836767,2181-06-05 14:51:00,2181-06-05 14:51:23.523,13616,8,NaN,NaN,0.0,10002508,Pharma,Haemofiltration,NaN,NaN,2181-06-05 14:51:00,F,70,alive
159836768,2181-06-05 14:51:00,2181-06-06 14:37:30.870,13616,8,NaN,NaN,65.0,10000400,Observation,Body weight,kg,NaN,2181-06-05 14:51:00,F,70,alive
159836769,2181-06-05 14:51:00,2181-06-06 14:37:30.870,13616,8,NaN,NaN,170.0,10000450,Observation,Body height measure,cm,NaN,2181-06-05 14:51:00,F,70,alive
159836770,2117-02-25 02:35:00,2117-02-25 15:31:49.440,26520,8,NaN,NaN,65.0,10000400,Observation,Body weight,kg,NaN,2117-02-25 02:35:00,M,85,NaN
159836771,2117-02-25 02:35:00,2117-02-25 15:31:49.440,26520,8,NaN,NaN,170.0,10000450,Observation,Body height measure,cm,NaN,2117-02-25 02:35:00,M,85,NaN

In [15]:
observation_tables_part_with_name

,datetime,entertime,patientid,status,stringvalue,type,value,variableid,Source Table,Variable Name,Unit,Additional information,admissiontime,sex,age,discharge_status
0,2183-05-12 12:00:00,2183-05-12 13:20:27.020,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
1,2183-05-12 12:54:00,2183-05-12 14:03:40.170,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
2,2183-05-12 12:58:00,2183-05-12 14:03:56.950,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
3,2183-05-12 13:00:00,2183-05-12 14:40:43.380,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
4,2183-05-12 13:02:00,2183-05-12 14:40:43.380,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159836767,2181-06-05 14:51:00,2181-06-05 14:51:23.523,13616,8,NaN,NaN,0.0,10002508,Pharma,Haemofiltration,NaN,NaN,2181-06-05 14:51:00,F,70,alive
159836768,2181-06-05 14:51:00,2181-06-06 14:37:30.870,13616,8,NaN,NaN,65.0,10000400,Observation,Body weight,kg,NaN,2181-06-05 14:51:00,F,70,alive
159836769,2181-06-05 14:51:00,2181-06-06 14:37:30.870,13616,8,NaN,NaN,170.0,10000450,Observation,Body height measure,cm,NaN,2181-06-05 14:51:00,F,70,alive
159836770,2117-02-25 02:35:00,2117-02-25 15:31:49.440,26520,8,NaN,NaN,65.0,10000400,Observation,Body weight,kg,NaN,2117-02-25 02:35:00,M,85,NaN
159836771,2117-02-25 02:35:00,2117-02-25 15:31:49.440,26520,8,NaN,NaN,170.0,10000450,Observation,Body height measure,cm,NaN,2117-02-25 02:35:00,M,85,NaN

In [16]:
observation_tables_part_with_name["Variable Name"].value_counts()

ST elevation                                         18013973
Respiratory rate                                     16778690
Heart rate                                           12015764
Peripheral oxygen saturation                         11373474
Invasive mean arterial pressure                      10783109
                                                       ...
Amylase [Enzymatic activity/volume] in Body fluid         198
pH of Cerebral spinal fluid                               154
Ferritin [Mass/volume] in Blood                           118
Erythrocyte sedimentation rate                             21
Noroxin tabl 400 mg                                         5
Name: Variable Name, Length: 121, dtype: int64

In [17]:
observation_tables_part_with_name = observation_tables_part_with_name.rename(columns={
    "datetime":"CHARTTIME",
    "admissiontime":"ADMITTIME",
    "variableid":"ITEMID",
    "patientid":"HADM_ID",
    "Variable Name":"LABEL",
    "value":"VALUENUM",
    "Unit":"VALUEUOM"
})

In [18]:
labs = observation_tables_part_with_name.copy()

In [19]:
labs

,CHARTTIME,entertime,HADM_ID,status,stringvalue,type,VALUENUM,ITEMID,Source Table,LABEL,VALUEUOM,Additional information,ADMITTIME,sex,age,discharge_status
0,2183-05-12 12:00:00,2183-05-12 13:20:27.020,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
1,2183-05-12 12:54:00,2183-05-12 14:03:40.170,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
2,2183-05-12 12:58:00,2183-05-12 14:03:56.950,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
3,2183-05-12 13:00:00,2183-05-12 14:40:43.380,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
4,2183-05-12 13:02:00,2183-05-12 14:40:43.380,148,8,NaN,NaN,0.0,30005080,Observation,Intravenous fluid colloid administration,cummulative,NaN,2183-05-12 12:35:00,M,50,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159836767,2181-06-05 14:51:00,2181-06-05 14:51:23.523,13616,8,NaN,NaN,0.0,10002508,Pharma,Haemofiltration,NaN,NaN,2181-06-05 14:51:00,F,70,alive
159836768,2181-06-05 14:51:00,2181-06-06 14:37:30.870,13616,8,NaN,NaN,65.0,10000400,Observation,Body weight,kg,NaN,2181-06-05 14:51:00,F,70,alive
159836769,2181-06-05 14:51:00,2181-06-06 14:37:30.870,13616,8,NaN,NaN,170.0,10000450,Observation,Body height measure,cm,NaN,2181-06-05 14:51:00,F,70,alive
159836770,2117-02-25 02:35:00,2117-02-25 15:31:49.440,26520,8,NaN,NaN,65.0,10000400,Observation,Body weight,kg,NaN,2117-02-25 02:35:00,M,85,NaN
159836771,2117-02-25 02:35:00,2117-02-25 15:31:49.440,26520,8,NaN,NaN,170.0,10000450,Observation,Body height measure,cm,NaN,2117-02-25 02:35:00,M,85,NaN

In [20]:
pharma_records_with_name = pd.merge(pharma_records, h_var_ref, on="variableid", how="inner")
pharma_records_with_name = pd.merge(pharma_records_with_name, g_table, on="patientid", how="inner")

In [21]:
pharma_records_with_name.givenat = pd.to_datetime(pharma_records_with_name.givenat)

In [22]:
pharma_records_with_name

,patientid,variableid,givenat,enteredentryat,givendose,cumulativedose,fluidamount_calc,cumulfluidamount_calc,doseunit,route,...,subtypeid,recordstatus,Source Table,Variable Name,Unit,Additional information,admissiontime,sex,age,discharge_status
0,259,1000251,2114-10-16 15:10:00,2114-10-16 16:51:50.890,25.0,25.0,0.5,0.5,µg,iv-inj,...,8.0,780,Pharma,Fentanyl inj 50 µg/ml,NaN,NaN,2114-10-16 14:00:00,M,55,alive
1,259,1000251,2114-10-16 16:52:00,2114-10-16 16:51:59.826,25.0,25.0,0.5,0.5,µg,iv-inj,...,8.0,780,Pharma,Fentanyl inj 50 µg/ml,NaN,NaN,2114-10-16 14:00:00,M,55,alive
2,259,1000251,2114-10-16 20:05:00,2114-10-16 20:05:21.063,25.0,25.0,0.5,0.5,µg,iv-inj,...,8.0,780,Pharma,Fentanyl inj 50 µg/ml,NaN,NaN,2114-10-16 14:00:00,M,55,alive
3,259,1000251,2114-10-16 22:27:00,2114-10-16 22:27:20.020,25.0,25.0,0.5,0.5,µg,iv-inj,...,8.0,780,Pharma,Fentanyl inj 50 µg/ml,NaN,NaN,2114-10-16 14:00:00,M,55,alive
4,259,1000251,2114-10-17 02:13:00,2114-10-17 02:13:06.200,25.0,25.0,0.5,0.5,µg,iv-inj,...,8.0,780,Pharma,Fentanyl inj 50 µg/ml,NaN,NaN,2114-10-16 14:00:00,M,55,alive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16270406,25903,1000997,2193-12-06 08:00:00,2193-12-06 08:21:03.333,400.0,400.0,0.0,0.0,µg,inhal,...,8.0,780,Pharma,Symbicort 200/60,NaN,NaN,2193-12-05 10:00:00,M,65,alive
16270407,5984,1000636,2161-01-16 21:00:00,2161-01-16 21:03:26.806,100.0,100.0,1.0,1.0,mg,cv-inj,...,8.0,780,Pharma,Soldactone Amp.,NaN,NaN,2161-01-16 18:05:00,M,65,alive
16270408,5984,1000636,2161-01-17 09:00:00,2161-01-17 08:55:29.096,100.0,100.0,1.0,1.0,mg,cv-inj,...,8.0,780,Pharma,Soldactone Amp.,NaN,NaN,2161-01-16 18:05:00,M,65,alive
16270409,31471,1000312,2124-08-27 07:31:00,2124-08-27 08:31:19.610,50.0,50.0,0.0,0.0,mg,p os,...,8.0,780,Pharma,Sandimmun Neoral Kps 50 mg,NaN,NaN,2124-08-27 06:40:00,M,75,alive
16270410,6539,1001087,2130-06-30 08:00:00,2130-06-30 08:06:47.653,2.5,2.5,0.0,0.0,mg,p os,...,8.0,780,Pharma,Nebivolol Tabl 5 mg,NaN,NaN,2130-06-29 11:05:00,F,55,alive

In [23]:
pharma_records_with_name = pharma_records_with_name.rename(columns={
    "givenat":"STARTTIME",
    "admissiontime":"ADMITTIME",
    "enteredentryat":"ENDTIME",
    "variableid":"ITEMID",
    "patientid":"HADM_ID",
    "Variable Name":"LABEL"
})

In [24]:
med1 = pharma_records_with_name.sort_values(["HADM_ID", "STARTTIME"]).groupby(["HADM_ID", "ITEMID"]).nth(0).reset_index()

In [25]:
med2 = pharma_records_with_name.sort_values(["HADM_ID", "STARTTIME"]).groupby(["HADM_ID", "ITEMID"]).nth(1).reset_index()

In [26]:
med1["STARTTIME"] = pd.to_datetime(med1["STARTTIME"])
med1["ENDTIME"] = pd.to_datetime(med1["ENDTIME"])
med1["ADMITTIME"] = pd.to_datetime(med1["ADMITTIME"])
med1["MedTimeFromAdmit"] = med1["STARTTIME"]-med1["ADMITTIME"]

med2["STARTTIME"] = pd.to_datetime(med2["STARTTIME"])
med2["ENDTIME"] = pd.to_datetime(med2["ENDTIME"])
med2["ADMITTIME"] = pd.to_datetime(med2["ADMITTIME"])
med2["MedTimeFromAdmit"] = med2["STARTTIME"]-med2["ADMITTIME"]

labs["CHARTTIME"] = pd.to_datetime(labs["CHARTTIME"])
labs["ADMITTIME"] = pd.to_datetime(labs["ADMITTIME"])
labs["LabTimeFromAdmit"] = labs["CHARTTIME"]-labs["ADMITTIME"]

In [27]:
med1["hours_in"] = med1["MedTimeFromAdmit"].dt.total_seconds()/3600
labs["hours_in"] = labs["LabTimeFromAdmit"].dt.total_seconds()/3600

In [28]:
t_med1 = med1[med1.HADM_ID.isin(labs.HADM_ID)]
t_med2 = med2[med2.HADM_ID.isin(labs.HADM_ID)]

In [29]:
t_labs = labs

## Before After Trend Calculation

In [30]:
from scipy.stats import pearsonr, spearmanr
import numpy as np
def check_med2(row):
    if row["HADM_ID"] in t_med2["HADM_ID"].to_list():
        if row["ITEMID"] in t_med2[t_med2["HADM_ID"]==row["HADM_ID"]]["ITEMID"].to_list():
            return True
    return False

def get_med2(row):
    temp = t_med2[t_med2["HADM_ID"]==row["HADM_ID"]] 
    return temp[temp["ITEMID"]==row["ITEMID"]].iloc[0]

In [31]:
from sklearn import datasets, linear_model, metrics

def get_normalized_trend(data):
    selected = data[['VALUENUM', 'hours_in']]
    if selected.shape[0]<2:
        return float("NaN")
    reg = linear_model.LinearRegression()
    reg.fit(np.array(data['hours_in']).reshape(-1,1), np.array(data['VALUENUM']).reshape(-1,1))
    return reg.coef_[0][0]

In [32]:
def get_normalized_trend_np(data):
    selected = data[['VALUENUM', 'hours_in']]
    print(selected)
    if selected.shape[0]<2:
        return float("NaN")
    print(np.array(data['hours_in']), np.array(data['VALUENUM']))
    t = np.polyfit(np.array(data['hours_in']), np.array(data['VALUENUM']), 1,full=True)
    coefficients, residuals, _, _, _ = t
    print(t)
    mse = residuals[0]/(len(selected.index))
    nrmse = np.sqrt(mse)/(selected.max() - selected.min())
    return 1

In [33]:
window = (1,100, 5)

In [146]:
def get_std_trends(r):

    row = r.copy()
    for i in range(window[0], window[1], window[2]):
        
        # before windows
        lab_vals = t_labs[t_labs["HADM_ID"]==row["HADM_ID"]]
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<row["MedTimeFromAdmit"].total_seconds()]

        b_window_start = row["MedTimeFromAdmit"].total_seconds() - (i*3600)
        b_window_end = row["MedTimeFromAdmit"].total_seconds() - (i+window[2])*3600
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<b_window_start]
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()>b_window_end]

        t = lab_vals.groupby(["ITEMID"]).count()[["HADM_ID"]]
        val_counts_m = t[t["HADM_ID"]>=1]
        if val_counts_m.shape[0]==0:
            row[f"before_val_{i}_{window[2]}"] = {}
            row[f"before_mean_{i}_{window[2]}"] = {}
        else:
            l_m = lab_vals[lab_vals.ITEMID.isin(val_counts_m.index)]
            row[f"before_val_{i}_{window[2]}"] = l_m.sort_values("hours_in").groupby(["ITEMID"])[["VALUENUM", "hours_in"]].nth(-1)["VALUENUM"].dropna().to_dict()
            row[f"before_mean_{i}_{window[2]}"] = l_m.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].mean()["VALUENUM"].dropna().to_dict()
        
        val_counts = t[t["HADM_ID"]>=2]
        if val_counts.shape[0]==0:
            row[f"before_trends_{i}_{window[2]}"] = {}
            row[f"before_std_{i}_{window[2]}"] = {}
        else:
            lab_vals = lab_vals[lab_vals.ITEMID.isin(val_counts.index)]  
            row[f"before_trends_{i}_{window[2]}"] = lab_vals[["ITEMID", "VALUENUM", "hours_in"]].dropna().groupby(["ITEMID"])[["VALUENUM", "hours_in"]].apply(lambda r : get_normalized_trend(r)).dropna().to_dict()
            row[f"before_std_{i}_{window[2]}"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].std()["VALUENUM"].dropna().to_dict()
            
        # After windows
        lab_vals = labs[labs["HADM_ID"]==row["HADM_ID"]]
        med2_bool = check_med2(row)
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()>row["MedTimeFromAdmit"].total_seconds()]
        a_window_start = row["MedTimeFromAdmit"].total_seconds() + (i*3600)
        a_window_end = row["MedTimeFromAdmit"].total_seconds() + (i+window[2])*3600
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()>a_window_start]
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<a_window_end]
        if med2_bool:
            med2_val = get_med2(row)
            lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<med2_val["MedTimeFromAdmit"].total_seconds()]
        
        t = lab_vals.groupby(["ITEMID"]).count()[["HADM_ID"]]
        
        val_counts_m = t[t["HADM_ID"]>=1]
        if val_counts_m.shape[0]==0:
            row[f"after_val_{i}_{window[2]}"] = {}
            row[f"after_mean_{i}_{window[2]}"] = {}
        else:
            l_m = lab_vals[lab_vals.ITEMID.isin(val_counts_m.index)]
            row[f"after_val_{i}_{window[2]}"] = l_m.sort_values("hours_in").groupby(["ITEMID"])[["VALUENUM", "hours_in"]].nth(0)["VALUENUM"].dropna().to_dict()
            row[f"after_mean_{i}_{window[2]}"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].mean()["VALUENUM"].dropna().to_dict()
        
        val_counts = t[t["HADM_ID"]>=2]
        if val_counts.shape[0]==0:
            row[f"after_trends_{i}_{window[2]}"] = {}
            row[f"after_std_{i}_{window[2]}"] = {}
        else:
            lab_vals = lab_vals[lab_vals.ITEMID.isin(val_counts.index)]   
            row[f"after_trends_{i}_{window[2]}"] = lab_vals[["ITEMID", "VALUENUM", "hours_in"]].dropna().groupby(["ITEMID"])[["VALUENUM", "hours_in"]].apply(lambda r : get_normalized_trend(r)).dropna().to_dict()
            row[f"after_std_{i}_{window[2]}"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].std()["VALUENUM"].dropna().to_dict()
        
    return row

In [35]:
type = "val"
all_types = set(["val", "trends", "std", "mean"])
other_cols = [f"before_{t}_{i}_{window[2]}" for i in range(window[0], window[1], window[2]) for t in all_types.difference([type])]
other_cols.extend([f"after_{t}_{i}_{window[2]}" for i in range(window[0], window[1], window[2]) for t in all_types.difference([type])])
cols_b = [f"before_{type}_{i}_{window[2]}" for i in range(window[0], window[1], window[2])]
cols_a = [f"after_{type}_{i}_{window[2]}" for i in range(window[0], window[1], window[2])]
cols = cols_b.copy()
cols.extend(cols_a)

In [147]:
temp = t_med1.iloc[10:100].apply(lambda r : get_std_trends(r), axis=1)

In [ ]:
temp = t_med1.copy()
temp = temp.apply(lambda r : get_std_trends(r), axis=1)

In [ ]:
pd.to_csv(os.path.join(raw_path, "discovery_analysis", "before_after_windows_med_lab.csv"))

In [ ]:
col_vals = []
for col in cols:
    col_vals.append(
        temp.assign(dict=temp[col].map(lambda d: d.items())).explode("dict", ignore_index=True).assign(
            LAB_ITEMID=lambda df: df.dict.str.get(0),
            temp=lambda df: df.dict.str.get(1)
        ).drop(columns=["dict"]+other_cols+cols).astype({'temp':'float64', 'LAB_ITEMID':'float64'}).rename(columns={"temp":f"{col}_sp"}).dropna(subset=["LAB_ITEMID"])
    )

In [ ]:
for i in range(1, len(col_vals)):
    col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="outer", on=list(t_med1.columns)+["LAB_ITEMID"])

In [ ]:
final = col_vals[-1][list(t_med1.columns)+["LAB_ITEMID"]+[f"{col}_sp" for col in cols]]

In [ ]:
final = pd.merge(final, h_var_ref.rename(columns={"variableid":"LAB_ITEMID", "Variable Name":"LAB_NAME", "Unit":"VALUEUOM"}), on="LAB_ITEMID", how="inner")
final = final.rename(columns={"LABEL":"MED_NAME"})

In [ ]:
final.to_csv(os.path.join(raw_path, "discovery_analysis", "before_after_windows_main_med_lab_trends.csv"))

In [ ]:
[(1, 6), ()]

In [34]:
def get_std_trends(r):

    row = r.copy()

    for i in range(1, 100, 5):
    
        lab_vals = labs[labs["HADM_ID"]==row["HADM_ID"]]
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<row["MedTimeFromAdmit"].total_seconds()]

        t = lab_vals.groupby(["ITEMID"]).count()[["HADM_ID"]]
        val_counts = t[t["HADM_ID"]>=2]
        if val_counts.shape[0]==0:
            row["before_val"] = {}
            row["before_trends"] = {}
            row["before_std"] = {}
        else:
            lab_vals = lab_vals[lab_vals.ITEMID.isin(val_counts.index)]        
            row["before_val"] = lab_vals.sort_values("hours_in").groupby(["ITEMID"])[["VALUENUM", "hours_in"]].nth(-1).dropna()["VALUENUM"].to_dict()
            row["before_trends"] = lab_vals[["ITEMID", "VALUENUM", "hours_in"]].dropna().groupby(["ITEMID"])[["VALUENUM", "hours_in"]].apply(lambda r : get_normalized_trend(r)).dropna().to_dict()
            row["before_std"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].std()["VALUENUM"].dropna().to_dict()
            
        lab_vals = labs[labs["HADM_ID"]==row["HADM_ID"]]
        med2_bool = check_med2(row)
        lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()>row["MedTimeFromAdmit"].total_seconds()]
        if med2_bool:
            med2_val = get_med2(row)
            lab_vals = lab_vals[lab_vals["LabTimeFromAdmit"].dt.total_seconds()<med2_val["MedTimeFromAdmit"].total_seconds()]
        t = lab_vals.groupby(["ITEMID"]).count()[["HADM_ID"]]
        val_counts = t[t["HADM_ID"]>=2]
        if val_counts.shape[0]==0:
            row["after_val"] = {}
            row["after_trends"] = {}
            row["after_std"] = {}
        else:
            lab_vals = lab_vals[lab_vals.ITEMID.isin(val_counts.index)]   
            row["after_val"] = lab_vals.sort_values("hours_in").groupby(["ITEMID"])[["VALUENUM", "hours_in"]].nth(0).dropna()["VALUENUM"].to_dict()
            row["after_trends"] = lab_vals[["ITEMID", "VALUENUM", "hours_in"]].dropna().groupby(["ITEMID"])[["VALUENUM", "hours_in"]].apply(lambda r : get_normalized_trend(r)).dropna().to_dict()
            row["after_std"] = lab_vals.groupby(["ITEMID"])[["VALUENUM", "hours_in"]].std()["VALUENUM"].dropna().to_dict()
        
    return row

In [36]:
temp = t_med1.copy()
temp = temp.apply(lambda r : get_std_trends(r), axis=1)

KeyboardInterrupt:

In [ ]:

cols = ["before_std", "after_std", "before_val", "after_val", "before_trends", "after_trends"]
col_vals = []
for col in cols:
    col_vals.append(
        temp.assign(dict=temp[col].map(lambda d: d.items())).explode("dict", ignore_index=True).assign(
            LAB_ITEMID=lambda df: df.dict.str.get(0),
            temp=lambda df: df.dict.str.get(1)
        ).drop(columns=["dict", col]).rename(columns={"temp":f"{col}_sp"})
    )
for i in range(1, len(col_vals)):
    col_vals[i] = pd.merge(col_vals[i-1], col_vals[i], how="inner", on=list(med1.columns)+["LAB_ITEMID"]).dropna(subset=[f"{cols[i-1]}_sp", f"{cols[i]}_sp"])
final = col_vals[-1][list(med1.columns)+cols+["LAB_ITEMID"]+[f"{col}_sp" for col in cols]]

In [ ]:
final = pd.merge(final, h_var_ref.rename(columns={"variableid":"LAB_ITEMID", "Variable Name":"LAB_NAME", "Unit":"VALUEUOM"}), on="LAB_ITEMID", how="inner")
final = final.rename(columns={"LABEL":"MED_NAME"})

In [ ]:
final = final.rename(columns={
    "before_val_sp":"LabBeforeTrends",
    "after_val_sp":"LabAfterTrends"
})

### Pvals - Hard Threshold

In [ ]:
from scipy import stats
med_lab_all = final.copy()
pvals = []
ttest = []
counts = med_lab_all.groupby(["ITEMID", "MED_NAME", "LAB_ITEMID", "LAB_NAME"]).count()["HADM_ID"]
res_out = pd.DataFrame(counts)
# res_out = res_out[res_out["HADM_ID"]>100]

In [ ]:
res_out.HADM_ID.value_counts()

1     4966
2     2059
3      797
4      482
5      319
      ...
85       1
52       1
41       1
60       1
49       1
Name: HADM_ID, Length: 64, dtype: int64

In [ ]:
res_out

                                                                                                  HADM_ID
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure             2
                                             110.0      Invasive mean arterial pressure                 2
                                             120.0      Invasive diastolic arterial pressure            2
                                             150.0      Pulmonary artery systolic pressure              1
                                             160.0      Pulmonary artery mean pressure                  1
...                                                                                                   ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale               2
                                             30005010.0 Fluid balance                                   2
                                             30005075.0 Infusion of saline solution                     2
                                             30005080.0 Intravenous fluid colloid administration        2
                                             30005110.0 Fluid balance                                   2

[10005 rows x 1 columns]

In [ ]:
med_lab_all.columns

Index(['HADM_ID', 'ITEMID', 'STARTTIME', 'ENDTIME', 'givendose',
       'cumulativedose', 'fluidamount_calc', 'cumulfluidamount_calc',
       'doseunit', 'route', 'infusionid', 'typeid', 'subtypeid',
       'recordstatus', 'Source Table_x', 'MED_NAME', 'Unit',
       'Additional information_x', 'ADMITTIME', 'sex', 'age',
       'discharge_status', 'MedTimeFromAdmit', 'hours_in', 'before_std',
       'after_std', 'before_trends', 'after_trends', 'LAB_ITEMID',
       'before_std_sp', 'after_std_sp', 'LabBeforeTrends', 'LabAfterTrends',
       'Source Table_y', 'LAB_NAME', 'VALUEUOM', 'Additional information_y'],
      dtype='object')

In [ ]:
for i in res_out.index:
    med = i[0]
    lab = i[2]
    k_med = med_lab_all[med_lab_all["ITEMID"]==med]
    k_med = k_med[k_med["LAB_ITEMID"]==lab]
    pvals.append(stats.mannwhitneyu(k_med["LabBeforeTrends"], k_med["LabAfterTrends"])[1])
    ttest.append(stats.ttest_ind(k_med["LabBeforeTrends"], k_med["LabAfterTrends"])[1])
res_out["MannwhitneyuTest"] = pvals
res_out["TTest"] = ttest

/Users/yanpavan/anaconda3/envs/drug_lab/lib/python3.10/site-packages/numpy/core/fromnumeric.py:3723: RuntimeWarning: Degrees of freedom <= 0 for slice
  return _methods._var(a, axis=axis, dtype=dtype, out=out, ddof=ddof,
/Users/yanpavan/anaconda3/envs/drug_lab/lib/python3.10/site-packages/numpy/core/_methods.py:254: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

In [ ]:
sig = res_out[res_out["MannwhitneyuTest"]<0.05]
sig

                                                                                       HADM_ID  \
ITEMID  MED_NAME                      LAB_ITEMID LAB_NAME
15      Insulin Actrapid inj 100 U/ml 300.0      Metronidazole tabl 200 mg                  16
                                                 Respiratory rate                           16
                                      410.0      Core body temperature                       5
                                      700.0      Central venous pressure                     7
                                      2010.0     Inspired oxygen concentration               7
...                                                                                        ...
1000847 Dexdor Inf. Lsg               300.0      Respiratory rate                            2
1000864 Clexane 0.4 ml s/c            110.0      Invasive mean arterial pressure             4
                                      120.0      Invasive diastolic arterial pressure        4
1000873 Amlodipin Tbl 10 mg           300.0      Metronidazole tabl 200 mg                   3
                                                 Respiratory rate                            3

                                                                                       MannwhitneyuTest  \
ITEMID  MED_NAME                      LAB_ITEMID LAB_NAME
15      Insulin Actrapid inj 100 U/ml 300.0      Metronidazole tabl 200 mg                     0.000564
                                                 Respiratory rate                              0.000564
                                      410.0      Core body temperature                         0.036145
                                      700.0      Central venous pressure                       0.026224
                                      2010.0     Inspired oxygen concentration                 0.004079
...                                                                                                 ...
1000847 Dexdor Inf. Lsg               300.0      Respiratory rate                              0.019359
1000864 Clexane 0.4 ml s/c            110.0      Invasive mean arterial pressure               0.028571
                                      120.0      Invasive diastolic arterial pressure          0.028571
1000873 Amlodipin Tbl 10 mg           300.0      Metronidazole tabl 200 mg                     0.028906
                                                 Respiratory rate                              0.028906

                                                                                          TTest
ITEMID  MED_NAME                      LAB_ITEMID LAB_NAME
15      Insulin Actrapid inj 100 U/ml 300.0      Metronidazole tabl 200 mg             0.037405
                                                 Respiratory rate                      0.037405
                                      410.0      Core body temperature                 0.027451
                                      700.0      Central venous pressure               0.043600
                                      2010.0     Inspired oxygen concentration         0.003293
...                                                                                         ...
1000847 Dexdor Inf. Lsg               300.0      Respiratory rate                      0.005883
1000864 Clexane 0.4 ml s/c            110.0      Invasive mean arterial pressure       0.006458
                                      120.0      Invasive diastolic arterial pressure  0.006929
1000873 Amlodipin Tbl 10 mg           300.0      Metronidazole tabl 200 mg             0.083560
                                                 Respiratory rate                      0.083560

[240 rows x 3 columns]

In [ ]:
# res_out.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_pvals_with_trends_new_17112022.csv"))

### pvals - Bonferroni Analysis

In [ ]:
# res_out = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_med_pvals_with_trends_new_17112022.csv"))

In [ ]:
res_out.shape

(10005, 3)

In [ ]:
from statsmodels.stats.multitest import multipletests

bonferroni_analysis = multipletests(res_out["MannwhitneyuTest"], alpha=0.01, method='bonferroni')
reject, pvals_corrected, _, alphacBonf = bonferroni_analysis

In [ ]:
res_analysis = pd.Series(pvals_corrected)
significant = res_analysis[reject]

In [ ]:
significant

989     9.727659e-03
2305    1.939557e-07
2927    2.569798e-05
dtype: float64

In [ ]:
res_out["BonferroniPvals"] = res_analysis

In [ ]:
res_out

                                                                                                  HADM_ID  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure             2
                                             110.0      Invasive mean arterial pressure                 2
                                             120.0      Invasive diastolic arterial pressure            2
                                             150.0      Pulmonary artery systolic pressure              1
                                             160.0      Pulmonary artery mean pressure                  1
...                                                                                                   ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale               2
                                             30005010.0 Fluid balance                                   2
                                             30005075.0 Infusion of saline solution                     2
                                             30005080.0 Intravenous fluid colloid administration        2
                                             30005110.0 Fluid balance                                   2

                                                                                                  MannwhitneyuTest  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure               1.000000
                                             110.0      Invasive mean arterial pressure                   0.333333
                                             120.0      Invasive diastolic arterial pressure              0.333333
                                             150.0      Pulmonary artery systolic pressure                1.000000
                                             160.0      Pulmonary artery mean pressure                    1.000000
...                                                                                                            ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale                 0.220671
                                             30005010.0 Fluid balance                                     0.333333
                                             30005075.0 Infusion of saline solution                       0.333333
                                             30005080.0 Intravenous fluid colloid administration          1.000000
                                             30005110.0 Fluid balance                                     0.333333

                                                                                                     TTest  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure       0.438452
                                             110.0      Invasive mean arterial pressure           0.417273
                                             120.0      Invasive diastolic arterial pressure      0.413618
                                             150.0      Pulmonary artery systolic pressure             NaN
                                             160.0      Pulmonary artery mean pressure                 NaN
...                                                                                                    ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale         0.264986
                                             30005010.0 Fluid balance                             0.043936
                                             30005075.0 Infusion of saline solution               0.094654
                                             30005080.0 Intravenous fluid colloid administration       NaN
                                             30005110.0 Fluid balance                             0.323290

                                                                                                  BonferroniPvals
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure                   NaN
                                             110.0      Invasive mean arterial pressure                       NaN
                                             120.0      Invasive diastolic arterial pressure                  NaN
                                             150.0      Pulmonary artery systolic pressure                    NaN
                                             160.0      Pulmonary artery mean pressure                        NaN
...                                                                                                           ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale                     NaN
                                             30005010.0 Fluid balance                                         NaN
                                             30005075.0 Infusion of saline solution                           NaN
                                             30005080.0 Intravenous fluid colloid administration              NaN
                                             30005110.0 Fluid balance                                         NaN

[10005 rows x 4 columns]

In [ ]:
significant_df = res_out[reject]

In [ ]:
significant_df

,,,,HADM_ID,MannwhitneyuTest,TTest,BonferroniPvals
ITEMID,MED_NAME,LAB_ITEMID,LAB_NAME,,,,
225,Benuron supp 1000 mg,2010.0,Inspired oxygen concentration,24,9.722798e-07,0.010355,NaN
1000256,Aspirin Tbl 100 mg,30005075.0,Infusion of saline solution,44,1.938588e-11,0.002585,NaN
1000305,Zinacef Amp 1.5 g,2010.0,Inspired oxygen concentration,26,2.568513e-09,0.038351,NaN

### pvals - FDR Analysis

In [ ]:
fdr1_analysis = multipletests(res_out["MannwhitneyuTest"], alpha=0.01, method='fdr_bh')
reject1, pvals_corrected1, _, alphacBonf = fdr1_analysis

res_out['FDR Benjamini Corrected'] = pd.Series(pvals_corrected1)

In [ ]:
print(pd.Series(pvals_corrected1).describe())

count    1.000500e+04
mean     9.968964e-01
std      4.755281e-02
min      1.939557e-07
25%      1.000000e+00
50%      1.000000e+00
75%      1.000000e+00
max      1.000000e+00
dtype: float64

In [ ]:
res_out

                                                                                                  HADM_ID  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure             2
                                             110.0      Invasive mean arterial pressure                 2
                                             120.0      Invasive diastolic arterial pressure            2
                                             150.0      Pulmonary artery systolic pressure              1
                                             160.0      Pulmonary artery mean pressure                  1
...                                                                                                   ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale               2
                                             30005010.0 Fluid balance                                   2
                                             30005075.0 Infusion of saline solution                     2
                                             30005080.0 Intravenous fluid colloid administration        2
                                             30005110.0 Fluid balance                                   2

                                                                                                  MannwhitneyuTest  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure               1.000000
                                             110.0      Invasive mean arterial pressure                   0.333333
                                             120.0      Invasive diastolic arterial pressure              0.333333
                                             150.0      Pulmonary artery systolic pressure                1.000000
                                             160.0      Pulmonary artery mean pressure                    1.000000
...                                                                                                            ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale                 0.220671
                                             30005010.0 Fluid balance                                     0.333333
                                             30005075.0 Infusion of saline solution                       0.333333
                                             30005080.0 Intravenous fluid colloid administration          1.000000
                                             30005110.0 Fluid balance                                     0.333333

                                                                                                     TTest  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure       0.438452
                                             110.0      Invasive mean arterial pressure           0.417273
                                             120.0      Invasive diastolic arterial pressure      0.413618
                                             150.0      Pulmonary artery systolic pressure             NaN
                                             160.0      Pulmonary artery mean pressure                 NaN
...                                                                                                    ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale         0.264986
                                             30005010.0 Fluid balance                             0.043936
                                             30005075.0 Infusion of saline solution               0.094654
                                             30005080.0 Intravenous fluid colloid administration       NaN
                                             30005110.0 Fluid balance                             0.323290

                                                                                                  BonferroniPvals  \
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure                   NaN
                                             110.0      Invasive mean arterial pressure                       NaN
                                             120.0      Invasive diastolic arterial pressure                  NaN
                                             150.0      Pulmonary artery systolic pressure                    NaN
                                             160.0      Pulmonary artery mean pressure                        NaN
...                                                                                                           ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale                     NaN
                                             30005010.0 Fluid balance                                         NaN
                                             30005075.0 Infusion of saline solution                           NaN
                                             30005080.0 Intravenous fluid colloid administration              NaN
                                             30005110.0 Fluid balance                                         NaN

                                                                                                  FDR Benjamini Corrected
ITEMID  MED_NAME                             LAB_ITEMID LAB_NAME
1       Digoxin inj 0.25 mg/ml               100.0      Invasive systolic arterial pressure                           NaN
                                             110.0      Invasive mean arterial pressure                               NaN
                                             120.0      Invasive diastolic arterial pressure                          NaN
                                             150.0      Pulmonary artery systolic pressure                            NaN
                                             160.0      Pulmonary artery mean pressure                                NaN
...                                                                                                                   ...
1001063 KCL ret. Hausmann Drg 10mmol (745mg) 15001565.0 Richmond agitation-sedation scale                             NaN
                                             30005010.0 Fluid balance                                                 NaN
                                             30005075.0 Infusion of saline solution                                   NaN
                                             30005080.0 Intravenous fluid colloid administration                      NaN
                                             30005110.0 Fluid balance                                                 NaN

[10005 rows x 5 columns]

In [ ]:
significant_fdr = res_out[reject1]

In [ ]:
significant_fdr

                                                                       HADM_ID  \
ITEMID  MED_NAME             LAB_ITEMID LAB_NAME
225     Benuron supp 1000 mg 2010.0     Inspired oxygen concentration       24
                             30005075.0 Infusion of saline solution         22
1000256 Aspirin Tbl 100 mg   30005010.0 Fluid balance                       44
                             30005075.0 Infusion of saline solution         44
1000305 Zinacef Amp 1.5 g    2010.0     Inspired oxygen concentration       26

                                                                       MannwhitneyuTest  \
ITEMID  MED_NAME             LAB_ITEMID LAB_NAME
225     Benuron supp 1000 mg 2010.0     Inspired oxygen concentration      9.722798e-07
                             30005075.0 Infusion of saline solution        4.980993e-06
1000256 Aspirin Tbl 100 mg   30005010.0 Fluid balance                      2.366833e-06
                             30005075.0 Infusion of saline solution        1.938588e-11
1000305 Zinacef Amp 1.5 g    2010.0     Inspired oxygen concentration      2.568513e-09

                                                                          TTest  \
ITEMID  MED_NAME             LAB_ITEMID LAB_NAME
225     Benuron supp 1000 mg 2010.0     Inspired oxygen concentration  0.010355
                             30005075.0 Infusion of saline solution    0.000005
1000256 Aspirin Tbl 100 mg   30005010.0 Fluid balance                  0.003804
                             30005075.0 Infusion of saline solution    0.002585
1000305 Zinacef Amp 1.5 g    2010.0     Inspired oxygen concentration  0.038351

                                                                       BonferroniPvals  \
ITEMID  MED_NAME             LAB_ITEMID LAB_NAME
225     Benuron supp 1000 mg 2010.0     Inspired oxygen concentration              NaN
                             30005075.0 Infusion of saline solution                NaN
1000256 Aspirin Tbl 100 mg   30005010.0 Fluid balance                              NaN
                             30005075.0 Infusion of saline solution                NaN
1000305 Zinacef Amp 1.5 g    2010.0     Inspired oxygen concentration              NaN

                                                                       FDR Benjamini Corrected
ITEMID  MED_NAME             LAB_ITEMID LAB_NAME
225     Benuron supp 1000 mg 2010.0     Inspired oxygen concentration                      NaN
                             30005075.0 Infusion of saline solution                        NaN
1000256 Aspirin Tbl 100 mg   30005010.0 Fluid balance                                      NaN
                             30005075.0 Infusion of saline solution                        NaN
1000305 Zinacef Amp 1.5 g    2010.0     Inspired oxygen concentration                      NaN

### Final Intersection

In [ ]:
significant_intersection = pd.merge(significant_df.reset_index(), significant_fdr.reset_index(), how="inner")

In [ ]:
significant_intersection

In [ ]:
significant_intersection.to_csv(os.path.join(res_path, "discovery_analysis", "significant_pairs_parts_all.csv"))