In [1]:
import pandas as pd

In [2]:
import os
raw_path = '/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/hirid-a-high-time-resolution-icu-dataset-1.1.1/raw_stage/'

In [ ]:
observation_tables_paths = [i for iq, i in enumerate(os.walk(os.path.join(raw_path, "observation_tables 2"))) if iq==1][0][2]
observation_tables = pd.concat([pd.read_csv(os.path.join(raw_path, "observation_tables", 'csv', file)) for file in observation_tables_paths])

In [ ]:
observation_tables

,datetime,entertime,patientid,status,stringvalue,type,value,variableid
0,2131-08-08 20:30:00.000,2131-08-08 22:07:35.110,585,8.0,NaN,NaN,0.0,30005080.0
1,2131-08-08 20:30:00.000,2131-08-08 22:07:35.090,585,8.0,NaN,NaN,0.0,30005075.0
2,2131-08-08 20:30:00.000,2131-08-08 22:07:34.830,585,8.0,NaN,NaN,0.0,30005010.0
3,2131-08-08 20:30:00.000,2131-08-08 20:33:35.733,585,8.0,NaN,NaN,75.0,10000400.0
4,2131-08-08 20:30:00.000,2131-08-08 20:33:35.733,585,8.0,NaN,NaN,160.0,10000450.0
...,...,...,...,...,...,...,...,...
324353,2154-02-10 23:02:44.960,2154-02-10 23:03:31.263,5677,16.0,NaN,NaN,84.0,110.0
324354,2154-02-10 23:02:44.960,2154-02-10 23:03:31.263,5677,16.0,NaN,NaN,67.0,120.0
324355,2154-02-10 23:02:44.960,2154-02-10 23:03:31.263,5677,16.0,NaN,NaN,-0.2,210.0
324356,2154-02-10 23:02:44.960,2154-02-10 23:03:31.263,5677,16.0,NaN,NaN,77.0,200.0
324357,2154-02-10 23:02:44.960,2154-02-10 23:03:31.263,56,NaN,NaN,NaN,NaN,NaN

In [3]:
pharma_records_paths = [i for iq, i in enumerate(os.walk(os.path.join(raw_path, "pharma_records"))) if iq==1][0][2]
pharma_records = pd.concat([pd.read_csv(os.path.join(raw_path, "pharma_records", 'csv', file)) for file in pharma_records_paths])

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
pharma_records

,patientid,pharmaid,givenat,enteredentryat,givendose,cumulativedose,fluidamount_calc,cumulfluidamount_calc,doseunit,route,infusionid,typeid,subtypeid,recordstatus
0,259,1000251,2114-10-16 15:10:00.000,2114-10-16 16:51:50.890,25.000000,25.000,0.500000,0.500000,µg,iv-inj,1713071,1,8.0,780
1,259,1000489,2114-10-16 16:30:00.000,2114-10-16 16:33:33.700,1.000000,1.000,100.000002,100.000002,g,iv-inf,1156992,1,8.0,780
2,259,1000251,2114-10-16 16:52:00.000,2114-10-16 16:51:59.826,25.000000,25.000,0.500000,0.500000,µg,iv-inj,309556,1,8.0,780
3,259,1000300,2114-10-16 20:00:00.000,2114-10-16 21:48:11.876,2.000000,2.000,20.000000,20.000000,g,cv-inf,595756,1,8.0,780
4,259,1000251,2114-10-16 20:05:00.000,2114-10-16 20:05:21.063,25.000000,25.000,0.500000,0.500000,µg,iv-inj,1461001,1,8.0,780
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57620,33088,107,2166-11-23 10:04:38.610,2166-11-23 10:04:36.710,104.861115,8396.527,0.251667,20.151666,U,iv-inf,143772,1,8.0,8
57621,33088,107,2166-11-23 10:19:39.640,2166-11-23 10:19:35.986,104.282410,8500.811,0.250278,20.401946,U,iv-inf,143772,1,8.0,8
57622,33088,107,2166-11-23 10:34:44.700,2166-11-23 10:34:42.730,104.745370,8605.556,0.251389,20.653334,U,iv-inf,143772,1,8.0,8
57623,33088,107,2166-11-23 10:41:23.600,2166-11-23 10:41:21.383,46.064816,8651.620,0.110556,20.763889,U,iv-inf,143772,1,8.0,520
57624,33088,107,2166-11-23 10:42:00.000,2166-11-23 10:42:22.290,0.462963,8652.083,0.001111,20.765000,U,iv-inf,143772,1,8.0,776

In [ ]:
pharma_records

In [ ]:
path1 = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/hirid-a-high-time-resolution-icu-dataset-1.1.1"
g_table = pd.read_csv(os.path.join(path1, 'general_table.csv'))
h_var_ref = pd.read_csv(os.path.join(path1, 'hirid_variable_reference.csv'))
h_var_ref_pre = pd.read_csv(os.path.join(path1, 'hirid_variable_reference_preprocessed.csv'))
o_var_ref = pd.read_csv(os.path.join(path1, 'ordinal_vars_ref.csv'))

In [ ]:
g_table

       patientid        admissiontime sex  age discharge_status
0              1  2197-04-03 19:15:00   M   75            alive
1              2  2117-10-18 22:35:00   M   80            alive
2              3  2163-10-17 19:15:00   M   55            alive
3              4  2149-01-08 15:30:00   M   75            alive
4              5  2144-06-06 16:15:00   M   20            alive
...          ...                  ...  ..  ...              ...
33900      33901  2119-06-15 21:55:00   M   70            alive
33901      33902  2182-12-12 21:20:00   F   75            alive
33902      33903  2176-06-21 12:00:00   M   65            alive
33903      33904  2162-03-19 23:35:00   F   70            alive
33904      33905  2171-02-25 20:20:00   F   80            alive

[33905 rows x 5 columns]

In [ ]:
h_var_ref_pre

,Variable id,Name,Type,raw variable ids,Unit
0,vm1,Heart rate,double,200,'/min
1,vm3,Systolic BP (invasive),double,100,mmHg
2,vm4,Diastolic BP (invasive),double,120,mmHg
3,vm5,MAP,double,110,mmHg
4,vm13,Cardiac output,double,1000,l/min
5,vm20,SpO2,double,"4000, 8280",%
6,vm28,RASS,double,15001565,NaN
7,vm62,peak inspiratory pressure (ventilator),double,3110,cmH2O
8,vm136,Lactate arterial,double,24000524,mmol/l
9,vm146,Lactate venous,double,"24000732, 24000485",mmol/l
10,vm172,INR,double,24000567,NaN
11,vm174,Serum glucose,double,"20005110, 24000523, 24000585",mmol/l
12,vm176,C-reactive protein,double,20002200,mg/l
13,pm41,Dobutamine,double,426,flow [mg/min]
14,pm42,Milrinone,double,1000441,flow [mg/min]
15,pm43,Levosimendan,double,1000606,flow [mg/min]
16,pm44,Theophyllin,double,"1000706, 1000707,1000698, 1000267",flow [mg/min]
17,pm87,Non-opiod analgesics,long,"275, 1000471, 1000472, 1000473, 1000489, 10004...",binary indication of drug presence [yes/no]

In [ ]:
h_var_ref

In [ ]:
o_var_ref