## New Experiment

In [ ]:
BASE_DIR = '/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab'
suffix = f'(1,2)_(1.0,100.0)_M_(50,60)_WHITE'

In [ ]:

import pickle
import os
import sys
sys.path.insert(0, os.path.abspath('/Users/yanpavan/Desktop/Personal/TAU/DrugLab/src'))

from preprocess.stratify import Stratify
file = open('/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/mimiciii/1.4/preprocessed/stratified_mimiciii_(1, 2)_(1.0, 100.0)_M_(50, 60)_WHITE.obj', 'rb')
s = pickle.load(file)
file.close()

In [ ]:
medname = 'Insulin'
labname = 'Glucose'
window=(1,48)
type='inputevents'

In [ ]:
from analysis.analysis import Analysis

drug_lab, before, after = Analysis.labpairing(medname, s.patient_presc, s.lab_measurements['inputevents'], labname, med1 = s.med1, med2 = s.med2)

In [ ]:
print(before)

None

In [ ]:
from sqlite3 import Time
from analysis.time_effect_analysis import TimeEffect
time_inst = TimeEffect(BASE_DIR, s, 'inputevents', suffix)

In [ ]:
time_inst.get_data(medname, labname, 'inputevents', before_window=(10, 12), after_window=(10, 20))

time_effect_analysis/time_effect_analysis.py [Class: TimeEffect Func: get_data] INFO : (10, 12) has no data for the given Insulin<>Glucose pair.

Drug None
Beofre None
After None

(None, None)

In [ ]:
from visualize.time_effect_visualize import TimeEffectVisualization
plot_module = TimeEffectVisualization(BASE_DIR, s, table='inputevents', suffix=suffix)
plot_module.visualize(medname, labname, window=(1,48), before_window_info=(2,24), after_window_info=(2,24))

## Trial

In [2]:
import pandas as pd
import numpy as np
import pickle
import os
import sys
sys.path.insert(0, os.path.abspath('/Users/yanpavan/Desktop/Personal/TAU/DrugLab/src'))

In [2]:
medname = 'Insulin'
labname = 'Glucose'
window=(1,48)
type='inputevents'

In [3]:
DATA = '/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/mimiciii/1.4'

In [ ]:
from preprocess.stratify import Stratify
file = open('/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data/mimiciii/1.4/preprocessed/stratified_mimiciii_(1, 2)_(1.0, 100.0)_M_(50, 60)_WHITE.obj', 'rb')
s = pickle.load(file)
file.close()

In [4]:
from preprocess.dataset import Dataset
data = Dataset('mimiciii', DATA, between_meds=(1,2), preprocessed=False)
pickle.dump(data, open(os.path.join(DATA, 'raw', 'mimiciii_bm(1,2).obj'), 'wb'))

dataset/dataset.py [Class: Dataset Func: __init__] INFO : Started loading data from mimiciii dataset...
dataset/dataset.py [Class: Dataset Func: load_data] INFO : Loading admissions data...

In [ ]:
pickle.dump(data, open(os.path.join(DATA, 'raw', 'mimiciii_bm(1,2).obj'), 'wb'))

In [1]:
data

NameError: name 'data' is not defined

In [18]:
data.med1

,HADM_ID,SUBJECT_ID,ICUSTAY_ID,STARTTIME,ENDTIME,ITEMID,AMOUNT,AMOUNTUOM,UNITNAME,ORDERCATEGORYNAME,LABEL,CATEGORY,PARAM_TYPE
0,100001,58526,275225.0,2117-09-12 20:29:00,2117-09-12 21:29:00,225944,49.999999,ml,mL,02-Fluids (Crystalloids),Sterile Water,Fluids/Intake,Solution
1,100003,54610,209281.0,2150-04-17 21:08:00,2150-04-18 12:04:00,225158,150.000005,ml,mL,02-Fluids (Crystalloids),NaCl 0.9%,Fluids/Intake,Solution
2,100009,533,253656.0,2162-05-19 18:21:00,2162-05-19 19:21:00,225944,49.999999,ml,mL,02-Fluids (Crystalloids),Sterile Water,Fluids/Intake,Solution
3,100010,55853,271147.0,2109-12-11 19:30:00,2109-12-11 19:31:00,221744,24.999999,mcg,mg,05-Med Bolus,Fentanyl,Medications,Solution
4,100011,87977,214619.0,2177-09-02 04:48:00,2177-09-02 05:48:00,225166,10.000000,mEq,mEq,02-Fluids (Crystalloids),Potassium Chloride,Medications,Solution
...,...,...,...,...,...,...,...,...,...,...,...,...,...
15825,199962,53283,299949.0,2118-07-18 16:54:00,2118-07-18 17:54:00,225166,10.000000,mEq,mEq,02-Fluids (Crystalloids),Potassium Chloride,Medications,Solution
15826,199967,42131,201521.0,2184-08-01 03:34:00,2184-08-01 07:34:00,225166,40.000001,mEq,mEq,02-Fluids (Crystalloids),Potassium Chloride,Medications,Solution
15827,199984,55617,240913.0,2191-06-10 14:15:00,2191-06-10 14:16:00,225158,250.000000,ml,mL,03-IV Fluid Bolus,NaCl 0.9%,Fluids/Intake,Solution
15828,199992,94911,294585.0,2155-02-12 00:00:00,2155-02-12 00:01:00,220949,100.000000,ml,mL,08-Antibiotics (IV),Dextrose 5%,Fluids/Intake,Solution
15829,199999,40370,211153.0,2136-04-07 11:30:00,2136-04-07 12:30:00,225944,49.999999,ml,mL,02-Fluids (Crystalloids),Sterile Water,Fluids/Intake,Solution

In [ ]:
from analysis.analysis import Analysis
d, b, a = Analysis.labpairing()

In [3]:
import pickle
l = pickle.load(open('/Users/yanpavan/Desktop/Personal/TAU/DrugLab/results/mimic_extract/res.pkl', 'rb'))

In [6]:
l['hematocrit']['counts'].value_counts()

0    2199017
1       1846
2         85
3          4
4          2
dtype: int64

In [28]:
import pandas as pd
temp = pd.read_csv('/Users/yanpavan/Desktop/Personal/TAU/DrugLab/data/mimic_extract/itemid_to_variable_map.csv')

In [13]:
temp[['LEVEL2', 'LEVEL1', 'MIMIC LABEL']]

,LEVEL2,LEVEL1,MIMIC LABEL
0,Alanine aminotransferase,Alanine aminotransferase,ALANINE AMINOTRANSFERASE (ALT)
1,Alanine aminotransferase,Alanine aminotransferase,ALT
2,Alanine aminotransferase,Alanine aminotransferase,ALT
3,Albumin,Albumin,ALBUMIN
4,Albumin,Albumin,Albumin (>3.2)
...,...,...,...
13246,Urine output,Urine output,L Nephrostomy
13247,Urine output,Urine output,Straight Cath
13248,Urine output,Urine output,Ileoconduit
13249,Urine output,Urine output,OR Urine
13250,Urine output,Urine output,TF Residual

In [23]:
temp1 = temp[['LEVEL2', 'LEVEL1', 'MIMIC LABEL']].dropna()

In [24]:
temp1['MIMIC LABEL'].value_counts()

ATYPICAL LYMPHOCYTES     6
EOSINOPHILS              6
BASOPHILS                6
LYMPHOCYTES              5
PH                       5
                        ..
Glucose (70-105)         1
Fingerstick Glucose      1
GCS - Verbal Response    1
Verbal Response          1
TF Residual              1
Name: MIMIC LABEL, Length: 424, dtype: int64

In [25]:
temp1['LEVEL1'].value_counts()

Urine output                              26
CO2 (ETCO2, PCO2, etc.)                   12
Systolic blood pressure (noninvasive)     10
Weight                                     9
Diastolic blood pressure (noninvasive)     9
                                          ..
Red blood cell count (pleural)             1
Red blood cell count (other fluid)         1
Red blood cell count (joint fluid)         1
Red blood cell count (fragments)           1
Service Type                               1
Name: LEVEL1, Length: 194, dtype: int64

In [30]:
temp['LEVEL1'].value_counts()

Urine output                              26
CO2 (ETCO2, PCO2, etc.)                   12
Systolic blood pressure (noninvasive)     10
Weight                                     9
Diastolic blood pressure (noninvasive)     9
                                          ..
Red blood cell count (pleural)             1
Red blood cell count (other fluid)         1
Red blood cell count (joint fluid)         1
Red blood cell count (fragments)           1
Service Type                               1
Name: LEVEL1, Length: 194, dtype: int64

In [16]:
temp[['LEVEL1', 'MIMIC LABEL']].dropna()

                         LEVEL1                     MIMIC LABEL
0      Alanine aminotransferase  ALANINE AMINOTRANSFERASE (ALT)
1      Alanine aminotransferase                             ALT
2      Alanine aminotransferase                             ALT
3                       Albumin                         ALBUMIN
4                       Albumin                  Albumin (>3.2)
...                         ...                             ...
13246              Urine output                   L Nephrostomy
13247              Urine output                   Straight Cath
13248              Urine output                     Ileoconduit
13249              Urine output                        OR Urine
13250              Urine output                     TF Residual

[496 rows x 2 columns]

In [35]:
k = temp[['LEVEL2', 'MIMIC LABEL']].dropna()

In [41]:
k[k['MIMIC LABEL']=='Hematocrit']['LEVEL2'].iloc[0]

'Hematocrit'