In [1]:
data = "/Volumes/GoogleDrive/My Drive/TAU/Code/DrugLab/data"

In [2]:
import pandas as pd
import os

In [3]:
admits = pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "ADMISSIONS.csv.gz"))

## MIMIC Extract

In [4]:
mimic_extract_map = pd.read_csv(os.path.join("/Users/yanpavan/Desktop/", "itemid_to_variable_map.csv"))

In [7]:
mimic_extract_map_small = mimic_extract_map[["LEVEL2", "MIMIC LABEL", "ITEMID", "STATUS", "LINKSTO"]]
mimic_extract_map_small_lab = mimic_extract_map_small[mimic_extract_map_small["STATUS"]=="ready"]

In [10]:
d_m_l_doc = pd.read_csv(os.path.join(data, "mimiciii", "1.4","preprocessed", "mapping_med_itemid_doc.csv")).drop(columns=["Unnamed: 0"])

In [11]:
d_m_l_doc

,Medication,lab result,increased or decreased,"immediate (up to 2 hours), late (more than 2 hours)",Medication ITEMIDs,Medication MIMIC Labels,ITEMID_with_manual
0,Ramipril,potassium,increased,immediate,[],[],[]
1,Furosemide,magnesium,decreased,late,"[221794, 228340, 3439]","['Furosemide/Lasix', 'Furosemide (Lasix)', 'Fu...","[221794, 228340, 3439]"
2,Hydrochlorothiazide,calcium,increased,late,[],[],[]
3,Spironolactone,potassium,increased,immediate,"[6296, 5962]","['spironolactone', 'Spironolactone']","[6296, 5962]"
4,Hydrochlorothiazide,Uric acid,increased,late,[],[],[]
5,Omeprazole,B12,decreased,late,"[7745, 7252, 227694]","['omeprazole', 'Omeprazole (Prilosec)', 'Omepr...","[7745, 7252, 227694]"
6,Pantoprazole,B12,decreased,late,"[8074, 44820, 46522, 46014, 1097, 1226, 7372, ...","['PANTOPRAZOLE', 'pantoprazole80mg/100', 'Pant...","[8074, 44820, 46522, 46014, 1097, 1226, 7372, ..."
7,Esmoprazole,B12,decreased,late,[],[],[]
8,Metformin,B12,increased,late,[],[],[]
9,Metformin,lactic acid,increased,immediate,[],[],[]
10,Amoxicilin-clavulanate,ALT,increased,late,[],[],[]
11,Amoxicilin-clavulanate,AST,increased,late,[],[],[]
12,Acetylsalycilic acid (aspirin),Hemoglobin,decreased,late,"[7325, 7325, 7325, 7325, 7325]",[],[7325]
13,Acetylsalycilic acid (aspirin),platelets,decreased,late,"[7325, 7325]",[],[7325]
14,Trimetoprim-sulphamethoxazole,creatinine,increased,immediate,[],[],[]
15,Trimetoprim-sulphamethoxazole,potassium,increased,late,[],[],[]
16,Paracetamole (acetaminophen),ALT,increased,late,"[50856, 50856]",[],[50856]
17,Rivaroxaban,INR,increased,immediate,[],[],[]
18,Dabigatran,Aptt,increased,immediate,[],[],[]
19,Warfarin,INR,increased,late,[225913],['Coumadin (Warfarin)'],[225913]
20,Clozapine,platelets,decreased,late,[],[],[]
21,Paroxetine,sodium,decreased,late,[],[],[]
22,Citalopram,sodium,decreased,late,[],[],[]
23,Fluoxetine,sodium,decreased,late,[],[],[]
24,Haloperidol,prolactin,increased,late,[221824],['Haloperidol (Haldol)'],[221824]
25,Quetiapine,prolactin,increased,late,[],[],[]
26,Valsartan,potassium,increased,immediate,[],[],[]
27,Simvastatin,CPK,increased,late,[],[],[]
28,Ceftriaxone,bilirubin,increased,late,"[90018, 225855]","['Ceftriaxone', 'CEFTRIAXONE']","[90018, 225855]"
29,Valproic acid,Amylase,increased,late,[],[],[]
30,Valproic acid,Lipase,increased,late,[],[],[]
31,Glimepiride,glucose,decreased,immediate,[],[],[]
32,Glibenclamide,glucose,decreased,immediate,[],[],[]
33,Procainamide,ANA,increased,late,"[50962, 45853]","['N-ACETYLPROCAINAMIDE (NAPA)', 'Procainamide ...","[50962, 45853]"

In [13]:
lab_itemids = t_lab_itemids = {'ALT': {'Alanine aminotransferase': [50861, 769, 220644]},
 'ANA': {'Fraction inspired oxygen': [189]},
 'AST': {'Asparate aminotransferase': [50878, 770, 220587]},
 'Hemoglobin': {'Hemoglobin percent': [50852],
  'Hemoglobin C': [51224],
  'Hemoglobin F': [51225],
  'Hemoglobin A2': [51223],
  'Hemoglobin': [814, 220228, 51222, 50811]},
 'INR': {'Prothrombin time INR': [51237, 815, 1530, 227467]},
 'bilirubin': {'Bilirubin': [51465,
   50883,
   803,
   225651,
   50885,
   1538,
   848,
   225690,
   50884],
  'Bilirubin, Total, Pleural': [51049],
  'Bilirubin, Total, Body Fluid': [51028],
  'Bilirubin, Total, Ascites': [50838]},
 'calcium': {'Calcium': [786, 1522, 3746, 51029, 50893, 225625],
  'Calcium ionized': [50808, 816, 225667, 3766],
  'Calcium urine': [51066, 51077]},
 'creatinine': {'Creatinine': [791, 1525, 220615, 50912],
  'Creatinine ascites': [50841],
  'Creatinine body fluid': [51032],
  'Creatinine pleural': [51052],
  'Creatinine urine': [51082]},
 'glucose': {'Glucose': [50931,
   807,
   811,
   1529,
   50809,
   3745,
   225664,
   220621,
   226537],
  'Glucose urine': [51478],
  'Glucose, CSF': [51014],
  'Estimated Actual Glucose': [51529],
  'Glucose, Urine': [51084],
  'Glucose, Pleural': [51053],
  'Glucose, Joint Fluid': [51022],
  'Glucose, Ascites': [50842],
  'Glucose, Body Fluid': [51034]},
 'lactic acid': {'Lactic acid': [818, 225668, 1531]},
 'magnesium': {'Magnesium': [50960], 'Magnesium, Urine': [51088]},
 'platelets': {'Platelets': [51265, 828, 227457], 'Large Platelets': [51240]},
 'potassium': {'Potassium': [829, 1535, 227464, 50971, 50822],
  'Potassium serum': [227442],
  'Potassium, Body Fluid': [51041],
  'Potassium, Pleural': [51057],
  'Potassium, Stool': [51064],
  'Potassium, Urine': [51097],
  'Potassium, Ascites': [50847]},
 'sodium': {'Sodium': [837, 1536, 220645, 226534, 50983, 50824],
  'Sodium, Ascites': [50848],
  'Sodium, Body Fluid': [51042],
  'Sodium, Pleural': [51058],
  'Sodium, Stool': [51065],
  'Sodium, Urine': [51100]},
 'Uric acid': {'Uric Acid': [51007], 'Uric Acid, Urine': [51105]},
 'B12': {'Vitamin B12': [51010]},
 'prolactin': {'Prolactin': [50973]},
 'Amylase': {'Amylase': [50867], 'Amylase, Ascites': [50836], 'Amylase, Body Fluid': [51026],'Amylase, Joint Fluid': [51020],'Amylase, Pleural': [51047], 'Amylase, Urine': [51072]},
 'Lipase': {'Lipase': [50956], 'Lipase, Ascites': [50844], 'Lipase, Body Fluid': [51036]},
 'Aptt': {'PTT': [825, 1533, 227466, 51275]}}

In [25]:
lab_itemids['Hematocrit']  = {
    'Hematocrit' : [813, 220545, 51221, 50810]
}
lab_itemids['Red blood cell'] = {
    'Red blood cell': [51279, 833]
}
lab_itemids['Albumin'] = {
    'Albumin': [50862, 772, 1521, 227456]
}
lab_itemids['Magnesium'] = {
    'Magnesium': [821, 1532, 220635, 50960]
}

### Manual Mapping

In [21]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Red blood cell count"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[51279, 833]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Hemoglobin"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[814, 220228, 51222, 50811]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Bilirubin"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[50883, 803, 225651, 50885, 1538, 848, 225690, 50884]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Creatinine urine"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[51082]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Calcium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[786, 1522, 50893, 225625]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Glucose"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[50931, 807, 811, 1529, 50809, 3745, 225664, 220621, 226537]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Platelets"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[51265, 828, 227457]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Potassium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[829, 1535, 227464, 50971, 50822]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Sodium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[837, 1536, 220645, 226534, 50983, 50824]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Partial thromboplastin time"]

                          LEVEL2 MIMIC LABEL  ITEMID STATUS      LINKSTO
238  Partial thromboplastin time  PTT(22-35)     825  ready  chartevents
239  Partial thromboplastin time         PTT    1533  ready  chartevents
240  Partial thromboplastin time         PTT  227466  ready  chartevents
241  Partial thromboplastin time         PTT   51275  ready    labevents

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Partial thromboplastin time"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[825, 1533, 227466, 51275]

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Hematocrit"]

         LEVEL2             MIMIC LABEL  ITEMID STATUS      LINKSTO
169  Hematocrit              Hematocrit     813  ready  chartevents
171  Hematocrit      Hematocrit (serum)  220545  ready  chartevents
172  Hematocrit              HEMATOCRIT   51221  ready    labevents
173  Hematocrit  HEMATOCRIT, CALCULATED   50810  ready    labevents

In [ ]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Hematocrit"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[813, 220545, 51221, 50810]

In [23]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Albumin"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[50862, 772, 1521, 227456]

In [24]:
mimic_extract_map_small_lab[mimic_extract_map_small_lab["LEVEL2"]=="Magnesium"][["LEVEL2", "ITEMID"]].set_index("LEVEL2").ITEMID.to_list()

[821, 1532, 220635, 50960]

### Final Mapping

In [26]:
final_mapping_lab_itemids = {v2:k1 for k, v in lab_itemids.items() for k1, v1 in v.items() for v2 in v1}

In [28]:
final_itemids_list = list(final_mapping_lab_itemids.keys())

## Labevents

In [ ]:
labevents = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data.csv"))

In [ ]:
labevents = labevents[labevents.ITEMID.isin(final_itemids_list)]
labevents["MIMICExtractName"] = labevents.apply(lambda r: final_mapping_lab_itemids[r["ITEMID"]], axis=1)

In [ ]:
labevents["TABLE"] = labevents.apply(lambda r: "LABEVENTS", axis=1)

In [ ]:
patients = pd.read_csv(os.path.join(data, "mimiciii/1.4", "raw/PATIENTS.csv.gz"))
labevents = labevents.rename(columns={"SUBJECT_ID_x":"SUBJECT_ID"})
labevents = pd.merge(labevents, patients, how="inner", on="SUBJECT_ID")

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_7151/2424521930.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'ROW_ID_x'} in the result is deprecated and will raise a MergeError in a future version.
  labevents = pd.merge(labevents, patients, how="inner", on="SUBJECT_ID")

In [ ]:
labevents["DOB"] = pd.to_datetime(labevents["DOB"])
labevents["ADMITTIME"] = pd.to_datetime(labevents["ADMITTIME"])

In [ ]:
labevents['AGE'] = labevents.apply(lambda r: round((r['ADMITTIME'].to_pydatetime()-r['DOB'].to_pydatetime()).days/365, 0), axis=1)

In [179]:
labevents[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'ROW_ID_x',
 'SUBJECT_ID',
 'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']].to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data_with_mimic_extract_names.csv"))

In [58]:
labevents = pd.read_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data_with_mimic_extract_names.csv"))

## Chartevents

In [29]:
res_paths = []
count = 0
with pd.read_csv(os.path.join(data, "mimiciii/1.4/raw", "CHARTEVENTS.csv.gz"), chunksize=50_000_000) as reader:
    for chunk in reader:
        print(count, chunk.shape)
        path = os.path.join(data, "mimiciii", "1.4","preprocessed", "CHARTEVENTS", f"chartevents_with_mimic_extract_{count}.csv.gz")
        chunk = chunk[chunk.ITEMID.isin(final_itemids_list)]
        t = chunk.apply(lambda r: final_mapping_lab_itemids[r["ITEMID"]], axis=1)
        if t.shape[0]>0:
            chunk["MIMICExtractName"] = t
            chunk.to_csv(path)
            print(count, chunk.shape)
            res_paths.append(path)
        else:
            print(count, 0)    
        count += 1

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/624336155.py:4: DtypeWarning: Columns (8,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

0 (50000000, 15)
0 (419712, 16)
1 (50000000, 15)
1 (263044, 16)
2 (50000000, 15)
2 (264064, 16)

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/624336155.py:4: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

3 (50000000, 15)
3 (247806, 16)
4 (50000000, 15)
4 0

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/624336155.py:4: DtypeWarning: Columns (8,10,14) have mixed types. Specify dtype option on import or set low_memory=False.
  for chunk in reader:

5 (50000000, 15)
5 0
6 (30712483, 15)
6 0

In [30]:
result = pd.concat([pd.read_csv(f) for f in res_paths], ignore_index=True)

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/4178487586.py:1: DtypeWarning: Columns (9,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  result = pd.concat([pd.read_csv(f) for f in res_paths], ignore_index=True)
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/4178487586.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  result = pd.concat([pd.read_csv(f) for f in res_paths], ignore_index=True)
/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/4178487586.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  result = pd.concat([pd.read_csv(f) for f in res_paths], ignore_index=True)

In [31]:
result["TABLE"] = result.apply(lambda r: "CHARTEVENTS", axis=1)

In [35]:
t_r = pd.merge(result, admits, how="inner", on="HADM_ID")

In [36]:
result = t_r.copy()

In [40]:
result = result.rename(columns={"SUBJECT_ID_x":"SUBJECT_ID"})
result = pd.merge(result, patients, how="inner", on="SUBJECT_ID")

In [42]:
result["DOB"] = pd.to_datetime(result["DOB"])
result["ADMITTIME"] = pd.to_datetime(result["ADMITTIME"])

In [43]:
result['AGE'] = result.apply(lambda r: round((r['ADMITTIME'].to_pydatetime()-r['DOB'].to_pydatetime()).days/365, 0), axis=1)

In [55]:
result[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'ROW_ID_x',
 'SUBJECT_ID',
 'SUBJECT_ID_y',
 'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']].to_csv(os.path.join(data, "mimiciii", "1.4","preprocessed", "CHARTEVENTS", "chartevents_with_mimic_extract_lab.csv.gz"))

## Merge

In [59]:
t_r = result[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'SUBJECT_ID',
#  'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']]

t_l = labevents[['ADMISSION_LOCATION',
 'ADMISSION_TYPE',
 'ADMITTIME',
 'AGE',
 'CHARTTIME',
 'DEATHTIME',
 'DIAGNOSIS',
 'DISCHARGE_LOCATION',
 'DISCHTIME',
 'DOB',
 'DOD',
 'DOD_HOSP',
 'DOD_SSN',
 'EDOUTTIME',
 'EDREGTIME',
 'ETHNICITY',
 'EXPIRE_FLAG',
 'GENDER',
 'HADM_ID',
 'HAS_CHARTEVENTS_DATA',
 'HOSPITAL_EXPIRE_FLAG',
 'INSURANCE',
 'ITEMID',
 'LANGUAGE',
 'MARITAL_STATUS',
 'MIMICExtractName',
 'RELIGION',
 'SUBJECT_ID',
#  'TABLE',
 'VALUE',
 'VALUENUM',
 'VALUEUOM']]

In [63]:
t_c_l = pd.concat([t_l, t_r]).drop_duplicates(keep="first")

In [64]:
t_c_l = t_c_l[t_c_l["AGE"]<100]
t_c_l = t_c_l[t_c_l["AGE"]>0]

,ADMISSION_LOCATION,ADMISSION_TYPE,ADMITTIME,AGE,CHARTTIME,DEATHTIME,DIAGNOSIS,DISCHARGE_LOCATION,DISCHTIME,DOB,...,INSURANCE,ITEMID,LANGUAGE,MARITAL_STATUS,MIMICExtractName,RELIGION,SUBJECT_ID,VALUE,VALUENUM,VALUEUOM
0,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-22 04:31:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,1.12,1.120000,mmol/L
1,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-23 02:46:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,1.19,1.190000,mmol/L
2,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-23 10:14:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,1.11,1.110000,mmol/L
3,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-23 16:10:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,0.80,0.800000,mmol/L
4,EMERGENCY ROOM ADMIT,EMERGENCY,2101-10-20 19:08:00,77.0,2101-10-20 20:04:00,NaN,HYPOTENSION,SNF,2101-10-31 13:58:00,2025-04-11,...,Medicare,50808,NaN,MARRIED,Calcium ionized,CATHOLIC,3,0.98,0.980000,mmol/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1194621,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 19:12:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04 00:00:00,...,Self Pay,833,ENGL,MARRIED,Red blood cell,PROTESTANT QUAKER,32777,3.4000000953674316,3.400000,/mic l
1194622,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 12:18:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04 00:00:00,...,Self Pay,813,ENGL,MARRIED,Hematocrit,PROTESTANT QUAKER,32777,31.299999237060547,31.299999,%
1194623,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 12:18:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04 00:00:00,...,Self Pay,833,ENGL,MARRIED,Red blood cell,PROTESTANT QUAKER,32777,3.4100000858306885,3.410000,/mic l
1194624,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:38:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04 00:00:00,...,Self Pay,813,ENGL,MARRIED,Hematocrit,PROTESTANT QUAKER,32777,31,31.000000,%
1194625,PHYS REFERRAL/NORMAL DELI,ELECTIVE,2113-10-12 07:15:00,74.0,2113-10-12 11:38:00,NaN,CORONARY ARTERY DISEASE\CORONARY ARTERY BYPASS...,HOME,2113-10-18 13:15:00,2039-11-04 00:00:00,...,Self Pay,833,ENGL,MARRIED,Red blood cell,PROTESTANT QUAKER,32777,3.2699999809265137,3.270000,/mic l

In [65]:
final_labs = t_c_l.groupby(["HADM_ID", "ADMITTIME", "CHARTTIME", "VALUENUM", "MIMICExtractName"]).nth(0).reset_index()

/var/folders/xb/6svjl9sj43z6gfhlcp2nc5540000gr/T/ipykernel_18861/4024418374.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  final_labs = t_c_l.groupby(["HADM_ID", "ADMITTIME", "CHARTTIME", "VALUENUM", "MIMICExtractName"]).nth(0).reset_index()

In [66]:
final_labs = final_labs.dropna(subset=['VALUENUM'])

In [68]:
final_labs.to_csv(os.path.join(data, "mimiciii/1.4/preprocessed", "lab_patient_data_mimic_extract_2.csv"))